{% extends "base.html" %}
{% load bootstrap_form from bootstrap3 %}
{% load i18n %}

{% block title %}{% trans "Login" %} — {{ block.super }}{% endblock %}

{% block content %}
<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">
  <div class=" card-box">
    <div class="panel-heading">
        <h3 class="text-center"> Sign In to <strong class="text-custom">Inayo</strong> </h3>
    </div>


    <div class="panel-body">
    <form class="form-horizontal m-t-20" method="post" action="{% url 'registration:login' %}">
      {% csrf_token %}
      <fieldset>
          {% bootstrap_form form %}
          <input type="hidden" name="next" value="{{ next }}" />
      </fieldset>
        <div class="form-group text-center m-t-40">
            <div class="col-xs-12">
                <button class="btn btn-pink btn-block text-uppercase waves-effect waves-light" type="submit">Log In</button>
            </div>
        </div>
        {% if facebook_login_url or google_login_url %}
          <div class="form-group ">
              <div class="col-xs-12">
                  <div class="checkbox checkbox-primary">
                        <p>{% trans "Want to use your social profile?" %}</p>
                        <p>
                            {% if facebook_login_url %}
                                <a class="btn btn-default" href="{{ facebook_login_url }}">
                                    {% trans "Log in using Facebook" %}
                                </a>
                            {% endif %}
                            {% if google_login_url %}
                                <a class="btn btn-default" href="{{ google_login_url }}"> {% trans "Log in using Google" %}</a>
                            {% endif %}
                        </p>
                        <hr>
                  </div>
              </div>
          </div>
          {% endif %}
        <div class="form-group m-t-30 m-b-0">
            <div class="col-sm-12">
                <a href="{% url 'registration:request_email_confirmation' %}" class="text-dark"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a>
            </div>
        </div>
    </form>

    </div>
    </div>
        <div class="row">
      <div class="col-sm-12 text-center">
        <p>Don't have an account? <a href="{% url 'registration:request_email_confirmation' %}" class="text-primary m-l-5"><b>Sign Up</b></a></p>

            </div>
    </div>

</div>




<script>
    var resizefunc = [];
</script>
{% endblock %}

<!-- {% block content1 %}
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="post" action="{ url 'registration:login' %}">
                    {% csrf_token %}
                    <fieldset>
                        <legend>{% trans 'Log in' %}</legend>
                        { bootstrap_form form %}
                        <input type="hidden" name="next" value="{{ next }}" />
                    </fieldset>

                    <div class="form-group text-right">
                        <a class="btn btn-secondary" href="{% url 'registration:request_email_confirmation' %}">{% trans "I don't know my password" %}</a>
                        <button class="btn btn-primary">
                            { trans "Log in" %}
                        </button>
                    </div>
                    <hr>
                    {% if facebook_login_url or google_login_url %}
                        <p>{% trans "Want to use your social profile?" %}</p>
                        <p>
                            {% if facebook_login_url %}
                                <a class="btn btn-default" href="{{ facebook_login_url }}">
                                    {% trans "Log in using Facebook" %}
                                </a>
                            {% endif %}
                            {% if google_login_url %}
                                <a class="btn btn-default" href="{{ google_login_url }}"> {% trans "Log in using Google" %}</a>
                            {% endif %}
                        </p>
                        <hr>
                    {% endif %}
                    <div class="form-group">
                        <p>{% trans "Don't have an account yet?" %} <a class="btn btn-secondary" href="{% url 'registration:request_email_confirmation' %}">{% trans "Register" %}</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} -->
