{% extends "base.html" %}
{% load bootstrap_form from bootstrap3 %}
{% load i18n %}

{% block title %}{% trans "Register or reset your password" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="#">{% trans "Register or reset your password" %}</a></li>
{% endblock breadcrumb %}

{% block content %}
<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">
  <div class=" card-box">
    <div class="panel-heading">
      <h3 class="text-center"> Reset Password </h3>
    </div>

    <div class="panel-body">
      <form method="post" role="form" class="text-center">
        {% csrf_token %}
        <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            ×
          </button>
          Enter your <b>Email</b> and instructions will be sent to you!
        </div>
        <div class="form-group m-b-0">
          <div class="input-group">
            <input type="email" id="id_email" name="email" class="form-control" placeholder="Enter Email" required="">
            <input name="next" value="{{ next }}" type="hidden">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-pink w-sm waves-effect waves-light">
                Continue
              </button>
            </span>
          </div>
        </div>

      </form>
    </div>
  </div>


</div>

<script>
  var resizefunc = [];
</script>
{% endblock %}
<!-- <div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    <fieldset>
                        <legend>{% trans 'Register or reset your password' %}</legend>
                        {% bootstrap_form form %}
                        <input type="hidden" name="next" value="{{ next }}" />
                    </fieldset>
                    <div class="form-group text-right">
                        <button class="btn btn-primary">
                            {% trans "Continue" %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->
