<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Pharmacy Purchase Management System for our partners.">
        <meta name="author" content="Coderthemes">

        <link rel="shortcut icon" href="images/favicon.ico">

        <title>Inayo | Pharmacy Medicine Purchase App</title>

        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

        <!-- Bootstrap core CSS -->
        <link href="{{STATIC_URL}}home/css/bootstrap.min.css" rel="stylesheet">

        <!-- Owl Carousel CSS -->
        <link href="{{STATIC_URL}}home/css/owl.carousel.css" rel="stylesheet">
        <link href="{{STATIC_URL}}home/css/owl.theme.default.min.css" rel="stylesheet">

        <!-- Icon CSS -->
        <link href="{{STATIC_URL}}home/css/font-awesome.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{STATIC_URL}}home/css/style.css" rel="stylesheet">



        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->

    </head>


    <body data-spy="scroll" data-target="#navbar-menu">

        <!-- Navbar -->
        <div class="navbar navbar-custom sticky navbar-fixed-top" role="navigation" id="sticky-nav">
            <div class="container">

                <!-- Navbar-header -->
                <div class="navbar-header">

                    <!-- Responsive menu button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- LOGO -->
                    <a class="navbar-brand logo" href="{% url 'home' %}">
                        IN<span class="text-custom">A</span>YO
                    </a>

                </div>
                <!-- end navbar-header -->

                <!-- menu -->
                <div class="navbar-collapse collapse" id="navbar-menu">

                    <!-- Navbar right -->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="#home" class="nav-link">Home</a>
                        </li>
                        <li>
                            <a href="{% url "registration:login" %}">Login</a>
                        </li>

                    </ul>

                </div>
                <!--/Menu -->
            </div>
            <!-- end container -->
        </div>
        <!-- End navbar-custom -->



        <!-- HOME -->
        <section class="home bg-img-1" id="home">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="home-fullscreen">
                            <div class="full-screen">
                                <div class="home-wrapper home-wrapper-alt">
                                    <h2 class="font-light text-white">Welcome to Pharmacy Purchase System</h2>
                                    <h4 class="text-white">Now you can order your medicines with ease. You can order all of your products easily within few minutes.  </h4>
                                    <a href="{% url "registration:login" %}" class="btn btn-custom">Login to your account</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END HOME -->

        <!-- FOOTER -->
        <footer class="footer">
            <div cla{{STATIC}}home/ss="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <a class="navbar-brand logo" href="index.html">
                            IN<span class="text-custom">A</span>YO
                        </a>
                    </div>
                    <div class="c_URLol-lg-4 col-lg-offset-3 col-md-7">

                    </div>
                    <div class="col-lg-2 col-md-2">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Write to us</a></li>

                        </ul>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </footer>
        <!-- End Footer -->


        <!-- Back to top -->
        <a href="#" class="back-to-top" id="back-to-top"> <i class="fa fa-angle-up"></i> </a>


        <!-- js placed at the end of the document so the pages load faster -->
        <script src="{{STATIC}}home/js/jquery-2.1.4.min.js"></script>
        <script src="{{STATIC_URL}}home/js/bootstrap.min.js"></script>

        <!-- Jquery easing -->
        <script type="text/javascript" src="{{STATIC_URL}}home/js/jquery.easing.1.3.min.js"></script>

        <!-- Owl Carousel -->
        <script type="text/javascript" src="{{STATIC_URL}}home/js/owl.carousel.min.js"></script>

        <!--sticky header-->
        <script type="text/javascript" src="{{STATIC_URL}}home/js/jquery.sticky.js"></script>

        <!--common script for all pages-->
        <script src="{{STATIC}}home/js/jquery.app.js"></script>

        <script type="text/javascript">
            $('.owl-carousel').owlCarousel({
                loop:true,
                margin:10,
                nav:false,
                autoplay: true,
                autoplayTimeout: 4000,
                responsive:{
                    0:{
                        items:1
                    }
                }
            })
        </script>

    </body>
</html>
