{% extends "base.html" %}
{% load gross from prices_i18n %}
{% load i18n %}
{% load static from staticfiles %}
{% load render_bundle from webpack_loader %}

{% block title %}{% trans "Your cart" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
<li><a href="{% url 'medicine:cart' %}">{% trans "Cart" %}</a></li>
{% endblock breadcrumb %}

{% block stylesheet %}
  {{ block.super }}
  {% render_bundle 'cart' 'css' %}
{% endblock stylesheet %}

{% block footer_scripts %}
  {{ block.super }}
  {% render_bundle 'cart' 'js' %}
{% endblock footer_scripts %}

{% block content %}
{% if cart %}
    <table class="table table-striped cart" id="cart-items">
        <thead>
        <tr>
            <th class="col-xs-5 col-sm-2 col-md-1">{% trans "Product" %}</th>
            <th class="col-sm-5 hidden-xs"></th>
            <th class="col-xs-6 col-sm-3 col-md-2">{% trans "Quantity" %}</th>
            <th class="col-sm-1 hidden-xs text-right">{% trans "Price" %}</th>
            <th class="col-xs-1 text-right">{% trans "Subtotal" %}</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td class="hidden-xs" colspan="2"></td>
            <td class="col-xs-9 col-md-9 text-right lead" colspan="2">{% trans "Total" %}:
            <!-- <td class="col-xs-3 col-md-2 text-right lead"><b class="cart-total">{ gross cart.get_total %}</b></td> -->
        </tr>
        </tfoot>
        <tbody>
            {% for line in cart %}
                <tr class="cart-item">
                    <!-- <td class="hidden-xs">
                        <a href="{{ line.product.get_absolute_url }}">
                            { if line.product.product.images.first %}
                                <img class="cart-item-image" itemprop="image" src="{{ line.product.product.images.first.image.crop.100x100 }}" alt="">
                            { else %}
                                <img class="cart-item-image" src="{ static 'images/product-image-placeholder-small.png' %}" alt="">
                            { endif %}
                        </a>
                    </td> -->
                    <td>
                        <a href="#">
                          {% if line.product.Name %}
                            {{ line.product.Name }}
                          {% else %}
                           {{line.product.brand_name}}
                          {% endif %}
                        </a>
                    </td>
                    <td>
                        <div class="cart-item-amount">
                          <!-- action={ url "cart:update_line" product_id=line.product. %} -->
                            <form role="form" action="." method="post" class="form-cart">
                                <div class="input-group cart-item-quantity js-hidden{% if line.form.quantity.errors %} has-error{% endif %}">
                                    {{ line.form.quantity }}
                                    <span class="input-group-btn">
                                        <button class="btn btn-info" type="submit">{% trans "Update" %}</button>
                                    </span>
                                </div>
                                {% if line.form.quantity.errors %}
                                    {% for error in line.form.quantity.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                                {% csrf_token %}
                            </form>

                            <button type="submit" class="btn btn-link btn-sm cart-item-remove">
                                <span class="text-muted">{% trans "Remove from cart" %}</span>
                            </button>
                        </div>
                    </td>
                    <td class="text-right hidden-xs">{%  if line.product.MRP %}{{ line.product.MRP }}{% else %}{{ line.product.mrp }}{% endif %}</td>
                    <td class="text-right cart-item-subtotal" data-product-id="{{ line.product.pk }}">
                        <!-- { gross line.get_total %} -->total
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="form-group">
        <div>
            <a href="{% url "checkout:index" %}" class="btn btn-primary btn-lg pull-right">{% trans "Proceed to checkout" %}</a>
        </div>
    </div>
{% else %}
<p>
    {% trans 'Your cart is empty' %}
</p>
{% endif %}
{% endblock content %}
