{% extends "base.html" %}
<!--  load slice from shop %} -->
{% load static from staticfiles %}
<!-- { load bootstrap_pagination from bootstrap3 %} -->

{% block title %}Inayo | Datacenter{% endblock %}

{% block breadcrumb %}
  <li>
    <a href="#">Home</a>
  </li>
  <li>
    <span> Medicines</span>
  </li>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
          <div class="in-search-bar card-box">
              {% include "inayo/data_center/medicine/search.html" %}
          </div>
        </ul>
    </div>

    <div class="col-md-9">
        <div class="row card-box">
            {% include "inayo/data_center/medicine/_items.html" %}
        </div>
    </div>
</div>
<!-- <script src="{STATIC_URL}}assets0/js/bootstrap.min.js"></script> -->
{% endblock content %}
