<!-- <cript src="http://code.jquery.com/jquery.js"></script> -->

<!-- <link href="<?php echo base_url('bootstrap/css/bootstrap-multiselect.css'); ?>" rel="stylesheet" type="text/css">
<link href="<?php echo base_url('bootstrap/css/bootstrap.min.css'); ?>" rel="stylesheet" type="text/css">
<script type="text/javascript" src="<?php echo base_url('bootstrap/js/bootstrap.min.js'); ?>"></script> -->

<!-- Build your select: -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <!-- <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css"
      rel="stylesheet" type="text/css" /> -->
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
<link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css"
    rel="stylesheet" type="text/css" />
<script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"
    type="text/javascript"></script>

<div class="in-search-card">
    Name
    <input id="search-name" type="input" name="search_word">
</div>
<div class="in-search-card">
    Category
    <br><select class="multiselect" multiple="multiple" name="search-category" id="search-category">
      <option value="Allergic Disorders" selected>Allergic Disorders</option>
      <option value="Miscellaneous">Miscellaneous</option>
      <option value="Unknown">Unknown</option>
      <option value="Pain Management Therapy">Pain Management Therapy</option>
      <option value="Respiratory Disorders">Respiratory Disorders</option>
      <option value="Cardiovascular Disorders">Cardiovascular Disorders</option>
      <option value="Nutritional Disorders">Nutritional Disorders</option>
      <option value="Immune Disorders">Immune Disorders</option>
      <option value="Parasitic Infestation">Parasitic Infestation</option>
      <option value="Supplements &amp. Adjuvant Therapy">Supplements &amp. Adjuvant Therapy</option>
      <option value="Dermatological Disorders">Dermatological Disorders</option>
      <option value="Gastrointestinal Disorders">Gastrointestinal Disorders</option>
      <option value="Psychotherapeutic Disorders">Psychotherapeutic Disorders</option>
      <option value="Hematologic Disorders">Hematologic Disorders</option>
      <option value="Infectious Disorders">Infectious Disorders</option>
      <option value="Opthalmic Disorders">Opthalmic Disorders</option>
      <option value="Muscular Disorders">Muscular Disorders</option>
      <option value="Anaesthesia">Anaesthesia</option>
      <option value="Neurologic Disorders">Neurologic Disorders</option>
      <option value="Hormonal Disorders">Hormonal Disorders</option>
      <option value="Bone and Joint Disorders">Bone and Joint Disorders</option>
      <option value="Oral Preparations">Oral Preparations</option>
      <option value="Anticancer Therapy">Anticancer Therapy</option>
      <option value="Antidotes">Antidotes</option>
      <option value="Diabetes">Diabetes</option>
      <option value="Not Available">Not Available</option>
      <option value="Contraceptives">Contraceptives</option>
      <option value="Drug Acting on the Uterus">Drug Acting on the Uterus</option>
      <option value="Herbal Drugs">Herbal Drugs</option>
      <option value="Endocrine Disorders">Endocrine Disorders</option>
      <option value="Steroidal Drugs">Steroidal Drugs</option>
      <option value="Drugs for Bladder &amp. Prostate Disorders">Drugs for Bladder &amp. Prostate Disorders</>option
      <option value="Drugs for Erectile Dysfunction">Drugs for Erectile Dysfunction</option>
      <option value="Neurodegenerative Disease Drugs">Neurodegenerative Disease Drugs</option>
      <option value="Diagnostics">Diagnostics</option>
      <option value="Ear Disorders">Ear Disorders</option>
      <option value="Urologic Disorders">Urologic Disorders</option>
      <option value="Pharmaceutical aid and Excipient">Pharmaceutical aid and Excipient</option>
      <option value="Supportive Care Therapy">Supportive Care Therapy</option>
      <option value="Hepato">Hepato</option>
      <option value="Probiotics">Probiotics</option>
      <option value="Supplements &amp; Adjuvant Therapy">Supplements &amp; Adjuvant Therapy</option>
      <option value="Drugs for Bladder &amp; Prostate Disorders">Drugs for Bladder &amp; Prostate Disorders</>option
      <option value="Supplements &amp.. Adjuvant Therapy">Supplements &amp.. Adjuvant Therapy</option>
      <option value="Drugs for Bladder &amp.. Prostate Disorders">Drugs for Bladder &amp.. Prostate Disorders</option>
    </select>
</div>

<div class="in-search-card">
    Manufacturer
    <br><select class="multiselect" multiple="multiple" name="search-manufacturer" id="search-manufacturer" >
      <option value="Wockhardt Ltd" selected>Wockhardt Ltd</option>
    	<option value="Biochem Pharmaceutical Inds">Biochem Pharmaceutical Inds</option>
    	<option value="Cipla Ltd">Cipla Ltd</option>
    	<option value="Novartis India Ltd">Novartis India Ltd</option>
    	<option value="Alarsin Pharmaceuticals">Alarsin Pharmaceuticals</option>
    	<option value="Menarini India">Menarini India</option>
    	<option value="Ind Swift Laboratories Ltd">Ind Swift Laboratories Ltd</option>
    	<option value="Syncom Formulations I Limited">Syncom Formulations I Limited</option>
    	<option value="Galpha Laboratories Ltd">Galpha Laboratories Ltd</option>
    	<option value="Seagull Labs I Ltd">Seagull Labs I Ltd</option>
    	<option value="Bestochem Formulations I Ltd">Bestochem Formulations I Ltd</option>
    	<option value="Lincoln Pharmaceuticals Ltd">Lincoln Pharmaceuticals Ltd</option>
    	<option value="Ranbaxy Laboratories Ltd">Ranbaxy Laboratories Ltd</option>
    	<option value="Systopic Laboratories Ltd Mem">Systopic Laboratories Ltd Mem</option>
    	<option value="Entod Pharmaceuticals Ltd">Entod Pharmaceuticals Ltd</option>
    	<option value="Anglo-French Drugs &amp. Industries Ltd">Anglo-French Drugs &amp. Industries Ltd</option>
    	<option value="Morepen Laboratories Limited">Morepen Laboratories Limited</option>
    	<option value="Targof Pure Drugs Td">Targof Pure Drugs Td</option>
    	<option value="Shine Pharmaceuticals Ltd">Shine Pharmaceuticals Ltd</option>
    	<option value="Psychotropics India Ltd">Psychotropics India Ltd</option>
    	<option value="Satven And Mer">Satven And Mer</option>
    	<option value="GRAF Laboratories Pvt Ltd">GRAF Laboratories Pvt Ltd</option>
    	<option value="Reliance Formulation Pvt Ltd">Reliance Formulation Pvt Ltd</option>
    	<option value="Micro Labs Ltd">Micro Labs Ltd</option>
    	<option value="Leben Laboratories Pvt Ltd">Leben Laboratories Pvt Ltd</option>
    	<option value="Blue Cross Laboratories Ltd">Blue Cross Laboratories Ltd</option>
    	<option value="Endocare India">Endocare India</option>
    	<option value="Bayer Pharmaceuticals Pvt Ltd">Bayer Pharmaceuticals Pvt Ltd</option>
    	<option value="Intas Pharmaceuticals Ltd">Intas Pharmaceuticals Ltd</option>
    	<option value="S H Pharmaceuticals Ltd">S H Pharmaceuticals Ltd</option>
    	<option value="Win Medicare Pvt Ltd">Win Medicare Pvt Ltd</option>
    	<option value="Mapra Laboratories Pvt Ltd">Mapra Laboratories Pvt Ltd</option>
    	<option value="Sanofi India Ltd">Sanofi India Ltd</option>
    	<option value="Group Pharmaceuticals Ltd">Group Pharmaceuticals Ltd</option>
    	<option value="Lupin Ltd">Lupin Ltd</option>
    	<option value="Ucb India Pvt Ltd">Ucb India Pvt Ltd</option>
    	<option value="Iatros Pharmaceuticals Pvt Ltd">Iatros Pharmaceuticals Pvt Ltd</option>
    	<option value="Dr Reddys Laboratories Ltd">Dr Reddy's Laboratories Ltd</option>
    	<option value="Sun Pharma Laboratories Ltd">Sun Pharma Laboratories Ltd</option>
    	<option value="Medoz Pharma">Medoz Pharma</option>
    	<option value="Glaxo SmithKline Pharmaceuticals Ltd">Glaxo SmithKline Pharmaceuticals Ltd</option>
    	<option value="Glenmark Pharmaceuticals Ltd">Glenmark Pharmaceuticals Ltd</option>
    	<option value="Medley Pharmaceuticals">Medley Pharmaceuticals</option>
    	<option value="Maneesh Pharmaceuticals Ltd">Maneesh Pharmaceuticals Ltd</option>
    	<option value="Khandelwal Laboratories Ltd">Khandelwal Laboratories Ltd</option>
    	<option value="Alembic Ltd">Alembic Ltd</option>
    	<option value="Wallace Pharmaceuticals Ltd">Wallace Pharmaceuticals Ltd</option>
    	<option value="Indoco Remedies Ltd">Indoco Remedies Ltd</option>
    	<option value="Franco-Indian Pharmaceuticals Pvt Ltd">Franco-Indian Pharmaceuticals Pvt Ltd</option>
    	<option value="Med Manor Organics Pvt Ltd">Med Manor Organics Pvt Ltd</option>
    	<option value="Unimarck Healthcare Ltd">Unimarck Healthcare Ltd</option>
    	<option value="Wings Pharmaceuticals Pvt Ltd">Wings Pharmaceuticals Pvt Ltd</option>
    	<option value="Kivi Labs Ltd">Kivi Labs Ltd</option>
    	<option value="Natco Pharma Ltd">Natco Pharma Ltd</option>
    	<option value="AN Pharmaceuticals Pvt Ltd">AN Pharmaceuticals Pvt Ltd</option>
    	<option value="Unichem Laboratories Ltd">Unichem Laboratories Ltd</option>
    	<option value="Corona">Corona</option>
    	<option value="Vilberry Healthcare Pvt Ltd">Vilberry Healthcare Pvt Ltd</option>
    	<option value="Prochem India Pvt Ltd">Prochem India Pvt Ltd</option>
    	<option value="Jb Chemicals">Jb Chemicals</option>
    	<option value="Gujarat Terce Laboratories Ltd">Gujarat Terce Laboratories Ltd</option>
    	<option value="Alkem Laboratories Ltd">Alkem Laboratories Ltd</option>
    	<option value="Dabur India Ltd">Dabur India Ltd</option>
    	<option value="Stedman Pharmaceuticals Pvt Ltd">Stedman Pharmaceuticals Pvt Ltd</option>
    	<option value="Mankind Pharma Ltd">Mankind Pharma Ltd</option>
    	<option value="Dr Johns Laboratories Pvt Ltd">Dr Johns Laboratories Pvt Ltd</option>
    	<option value="Fourrts India Laboratories Pvt Ltd">Fourrts India Laboratories Pvt Ltd</option>
    	<option value="Zuventus Healthcare Ltd">Zuventus Healthcare Ltd</option>
    	<option value="Zydus Cadila">Zydus Cadila</option>
    	<option value="Yash Pharma Laboratories">Yash Pharma Laboratories</option>
    	<option value="Jenburkt Pharmaceuticals Ltd">Jenburkt Pharmaceuticals Ltd</option>
    	<option value="Embiotic Lab">Embiotic Lab</option>
    	<option value="Laborate Pharmaceutical Ltd">Laborate Pharmaceutical Ltd</option>
    	<option value="Aglowmed Pharmaceuticals Ltd">Aglowmed Pharmaceuticals Ltd</option>
    	<option value="Comed Chemicals Pvt Ltd">Comed Chemicals Pvt Ltd</option>
    	<option value="Ordain Healthcare Pvt Ltd">Ordain Healthcare Pvt Ltd</option>
    	<option value="Saf Fermion Ltd">Saf Fermion Ltd</option>
    	<option value="Sifco Pharma">Sifco Pharma</option>
    	<option value="Wanbury Ltd">Wanbury Ltd</option>
    	<option value="Macleods Pharmaceuticals Ltd">Macleods Pharmaceuticals Ltd</option>
    	<option value="Geno Pharmaceuticals Ltd">Geno Pharmaceuticals Ltd</option>
    	<option value="Apex Laboratories Ltd">Apex Laboratories Ltd</option>
    	<option value="Medo Pharma">Medo Pharma</option>
    	<option value="Wallace Pharmaceuticals Pvt Ltd">Wallace Pharmaceuticals Pvt Ltd</option>
    	<option value="Abbott Healthcare Pvt Ltd">Abbott Healthcare Pvt Ltd</option>
    	<option value="Macleods Pharmaceuticals Pvt Ltd">Macleods Pharmaceuticals Pvt Ltd</option>
    	<option value="DWD Pharmaceuticals Ltd">DWD Pharmaceuticals Ltd</option>
    	<option value="Themis Medicare Ltd">Themis Medicare Ltd</option>
    	<option value="Elder Pharmaceuticals Ltd">Elder Pharmaceuticals Ltd</option>
    	<option value="Ipca Laboratories Pvt Ltd">Ipca Laboratories Pvt Ltd</option>
    	<option value="Centaur Pharmaceuticals Pvt Ltd">Centaur Pharmaceuticals Pvt Ltd</option>
    	<option value="Inga Laboratories Pvt Ltd">Inga Laboratories Pvt Ltd</option>
    	<option value="Molekule Ind Pvt Ltd">Molekule Ind Pvt Ltd</option>
    	<option value="Mars Theraputics Chemicals Ltd">Mars Theraputics Chemicals Ltd</option>
    	<option value="Merck Ltd">Merck Ltd</option>
    	<option value="Meyer Organics Pvt Ltd">Meyer Organics Pvt Ltd</option>
    	<option value="Veritaz Healthcare Ltd">Veritaz Healthcare Ltd</option>
    	<option value="Parenteral Drugs India Ltd">Parenteral Drugs India Ltd</option>
    	<option value="Eisen Pharmaceuticals Co Pvt Ltd">Eisen Pharmaceuticals Co Pvt Ltd</option>
    	<option value="Dales Pharmaceuticals Ltd">Dales Pharmaceuticals Ltd</option>
    	<option value="Aristo Pharmaceuticals Pvt Ltd">Aristo Pharmaceuticals Pvt Ltd</option>
    	<option value="Astrazeneca Pharma India Ltd">Astrazeneca Pharma India Ltd</option>
    	<option value="Troikaa Pharmaceuticals Ltd">Troikaa Pharmaceuticals Ltd</option>
    	<option value="Rekvina Pharmaceuticals">Rekvina Pharmaceuticals</option>
    	<option value="Simpson Brawn Pharmaceuticals">Simpson Brawn Pharmaceuticals</option>
    	<option value="Pfizer Ltd">Pfizer Ltd</option>
    	<option value="Indi Pharma">Indi Pharma</option>
    	<option value="Litaka Pharmaceuticals Ltd">Litaka Pharmaceuticals Ltd</option>
    	<option value="Somatico Pharmaceuticals Ltd">Somatico Pharmaceuticals Ltd</option>
    	<option value="Juggat Pharma">Juggat Pharma</option>
    	<option value="Adonis Laboratories Pvt Ltd">Adonis Laboratories Pvt Ltd</option>
    	<option value="Abbott India Ltd">Abbott India Ltd</option>
    	<option value="Drakt Phrma Pvt Ltd">Drakt Phrma Pvt Ltd</option>
    	<option value="F D C Ltd">F D C Ltd</option>
    	<option value="Obsurge Pharma P Ltd">Obsurge Pharma P Ltd</option>
    	<option value="RPG Life Sciences Ltd">RPG Life Sciences Ltd</option>
    	<option value="Mercury Healthcare Pvt Ltd">Mercury Healthcare Pvt Ltd</option>
    	<option value="Orchid Chemicals &amp. Pharmaceuticals Ltd">Orchid Chemicals &amp. Pharmaceuticals Ltd</option>
    	<option value="Hegde Hegde">Hegde Hegde</option>
    	<option value="Cadila Pharmaceuticals Ltd">Cadila Pharmaceuticals Ltd</option>
    	<option value="Panacea Biotec Ltd">Panacea Biotec Ltd</option>
    	<option value="Biological E Ltd">Biological E Ltd</option>
    	<option value="Pharmed Ltd">Pharmed Ltd</option>
    	<option value="Indchemie Health Specialities Pvt Ltd">Indchemie Health Specialities Pvt Ltd</option>
    	<option value="Concept Pharmaceuticals Ltd">Concept Pharmaceuticals Ltd</option>
    	<option value="Tablets India Ltd">Tablets India Ltd</option>
    	<option value="Votary Laboratories I Ltd">Votary Laboratories I Ltd</option>
    	<option value="Union Drug">Union Drug</option>
    	<option value="Shreya Life Sciences Pvt Ltd">Shreya Life Sciences Pvt Ltd</option>
    	<option value="Shield Pharmaceuticals">Shield Pharmaceuticals</option>
    	<option value="Bennet Pharmaceuticals Limited">Bennet Pharmaceuticals Limited</option>
    	<option value="Bio Vitamins">Bio Vitamins</option>
    	<option value="Klar Sehen Pvt Ltd">Klar Sehen Pvt Ltd</option>
    	<option value="Jupiter Pharmaceuticals">Jupiter Pharmaceuticals</option>
    	<option value="Libra Drugs India">Libra Drugs India</option>
    	<option value="Colinz Laboratories Ltd">Colinz Laboratories Ltd</option>
    	<option value="Caplet India Private Limited">Caplet India Private Limited</option>
    	<option value="Meridian Medicare Ltd">Meridian Medicare Ltd</option>
    	<option value="Ark Life Sciences Pvt Ltd">Ark Life Sciences Pvt Ltd</option>
    	<option value="KC Laboratories">KC Laboratories</option>
    	<option value="D D Pharmaceuticals">D D Pharmaceuticals</option>
    	<option value="Duckbill Drugs Pvt Ltd">Duckbill Drugs Pvt Ltd</option>
    	<option value="Heal India Laboratories">Heal India Laboratories</option>
    	<option value="Delvin Formulations Private Ltd">Delvin Formulations Private Ltd</option>
    	<option value="Adcock Ingram Healthcare Pvt Ltd">Adcock Ingram Healthcare Pvt Ltd</option>
    	<option value="Icon Life Sciences">Icon Life Sciences</option>
    	<option value="Ozone Pharmaceuticals">Ozone Pharmaceuticals</option>
    	<option value="Johnson Johnson">Johnson Johnson</option>
    	<option value="Meridian Enterprises Pvt Ltd">Meridian Enterprises Pvt Ltd</option>
    	<option value="B A L Pharma">B A L Pharma</option>
    	<option value="Torrent Pharmaceuticals Ltd">Torrent Pharmaceuticals Ltd</option>
    	<option value="Rapross Pharmaceuticals Pvt Ltd">Rapross Pharmaceuticals Pvt Ltd</option>
    	<option value="Pharm Products Pvt Ltd">Pharm Products Pvt Ltd</option>
    	<option value="Bombay Tablet Mfg Co Pvt Ltd">Bombay Tablet Mfg Co Pvt Ltd</option>
    	<option value="Magnachem Pharmaceuticals Pvt Ltd">Magnachem Pharmaceuticals Pvt Ltd</option>
    	<option value="Lark Laboratories Ltd">Lark Laboratories Ltd</option>
    	<option value="Imed Healthcare">Imed Healthcare</option>
    	<option value="Glowderma">Glowderma</option>
    	<option value="Eris Life Sciences Pvt Ltd">Eris Life Sciences Pvt Ltd</option>
    	<option value="Endocard">Endocard</option>
    	<option value="MMC Healthcare Ltd">MMC Healthcare Ltd</option>
    	<option value="Hetero Healthcare Ltd">Hetero Healthcare Ltd</option>
    	<option value="Forgen Healthcare Ltd">Forgen Healthcare Ltd</option>
    	<option value="Icarus Healthcare Primus">Icarus Healthcare Primus</option>
    	<option value="Talent Healthcare">Talent Healthcare</option>
    	<option value="USV Ltd">USV Ltd</option>
    	<option value="Ttk Healthcare Ltd">Ttk Healthcare Ltd</option>
    	<option value="Albert David">Albert David</option>
    	<option value="Ar-Ex Laboratories Pvt Ltd">Ar-Ex Laboratories Pvt Ltd</option>
    	<option value="Emcure Pharmaceuticals Ltd">Emcure Pharmaceuticals Ltd</option>
    	<option value="Strides Arcolab Limited">Strides Arcolab Limited</option>
    	<option value="Shasun Pharmaceuticals Ltd">Shasun Pharmaceuticals Ltd</option>
    	<option value="Synokem Pharmaceuticals Ltd">Synokem Pharmaceuticals Ltd</option>
    	<option value="Foregen Healthcare Ltd">Foregen Healthcare Ltd</option>
    	<option value="Venus Remedies Ltd">Venus Remedies Ltd</option>
    	<option value="Empiai Pharmaceuticals Pvt Ltd">Empiai Pharmaceuticals Pvt Ltd</option>
    	<option value="Stadmed Pvt Ltd">Stadmed Pvt Ltd</option>
    	<option value="Moreish Pharmaceuticals Pvt Ltd">Moreish Pharmaceuticals Pvt Ltd</option>
    	<option value="Fulford India Ltd">Fulford India Ltd</option>
    	<option value="M D C Pharmaceuticals P Ltd">M D C Pharmaceuticals P Ltd</option>
    	<option value="Bengal Chemicals Pharmaceuticals Ltd">Bengal Chemicals Pharmaceuticals Ltd</option>
    	<option value="Dollar">Dollar</option>
    	<option value="Elan Pharma India Pvt Ltd">Elan Pharma India Pvt Ltd</option>
    	<option value="Solumiks Piramal Ltd">Solumiks Piramal Ltd</option>
    	<option value="MidasCare Pharmaceuticals Pvt Ltd">MidasCare Pharmaceuticals Pvt Ltd</option>
    	<option value="Kontest Chemicals Ltd">Kontest Chemicals Ltd</option>
    	<option value="Akumentis Healthcare Ltd">Akumentis Healthcare Ltd</option>
    	<option value="Overseas Healthcare Pvt Ltd">Overseas Healthcare Pvt Ltd</option>
    	<option value="Canixa Life Sciences Pvt Ltd">Canixa Life Sciences Pvt Ltd</option>
    	<option value="Sterkem Pharma Pvt Ltd">Sterkem Pharma Pvt Ltd</option>
    	<option value="Kee Pharma">Kee Pharma</option>
    	<option value="Karnataka Antibiotics Pharmaceuticals Ltd Kapl">Karnataka Antibiotics Pharmaceuticals Ltd Kapl</option>
    	<option value="NuLife Pharmaceuticals">NuLife Pharmaceuticals</option>
    	<option value="Claris Lifesciences Limited">Claris Lifesciences Limited</option>
    	<option value="Eisai Pharmaceuticals India Ltd">Eisai Pharmaceuticals India Ltd</option>
    	<option value="Swiss Pharma Pvt Ltd">Swiss Pharma Pvt Ltd</option>
    	<option value="Neon Laboratories Ltd">Neon Laboratories Ltd</option>
    	<option value="United Biotech P Ltd">United Biotech P Ltd</option>
    	<option value="VHB Life Sciences Ltd">VHB Life Sciences Ltd</option>
    	<option value="Avinash Health Products P Lt">Avinash Health Products P Lt</option>
    	<option value="MSN Laboratories">MSN Laboratories</option>
    	<option value="Ajanta Pharma Ltd">Ajanta Pharma Ltd</option>
    	<option value="Tas Med India Private Ltd">Tas Med India Private Ltd</option>
    	<option value="Pulse Pharmaceuticals Pvt Ltd">Pulse Pharmaceuticals Pvt Ltd</option>
    	<option value="Sigmund Promedica">Sigmund Promedica</option>
    	<option value="A N Pharmacia">A N Pharmacia</option>
    	<option value="Icarus Healthcare Pvt Ltd">Icarus Healthcare Pvt Ltd</option>
    	<option value="Psycormedies">Psycormedies</option>
    	<option value="Pegasus Farmaco India Pvt Ltd">Pegasus Farmaco India Pvt Ltd</option>
    	<option value="Rusan Healthcare Pvt Ltd">Rusan Healthcare Pvt Ltd</option>
    	<option value="Janssen">Janssen</option>
    	<option value="Fresenius Kabi India Pvt Ltd">Fresenius Kabi India Pvt Ltd</option>
    	<option value="Deys Medical">Deys Medical</option>
    	<option value="Serum Institute Of India Ltd">Serum Institute Of India Ltd</option>
    	<option value="Alchem Phytoceuticals Ltd">Alchem Phytoceuticals Ltd</option>
    	<option value="Strassenburg Pharmaceuticals Ltd">Strassenburg Pharmaceuticals Ltd</option>
    	<option value="Walter Bushnell">Walter Bushnell</option>
    	<option value="Sunny Drug Pharma">Sunny Drug Pharma</option>
    	<option value="Tidal Laboratories Pvt Ltd">Tidal Laboratories Pvt Ltd</option>
    	<option value="Sresan Pharmaceuticals">Sresan Pharmaceuticals</option>
    	<option value="Sterkem">Sterkem</option>
    	<option value="Kentreck Labs Pvt Ltd">Kentreck Labs Pvt Ltd</option>
    	<option value="Alcon Laboratories">Alcon Laboratories</option>
    	<option value="Bliss Chemical Pharmaceuticals Ltd">Bliss Chemical Pharmaceuticals Ltd</option>
    	<option value="Noel Pharmaceuticals">Noel Pharmaceuticals</option>
    	<option value="Unicure India Pvt Ltd">Unicure India Pvt Ltd</option>
    	<option value="Jawa Laboratories">Jawa Laboratories</option>
    	<option value="Sapient">Sapient</option>
    	<option value="Optho Remedies Pvt Ltd">Optho Remedies Pvt Ltd</option>
    	<option value="Aristo Pharma Ltd">Aristo Pharma Ltd</option>
    	<option value="Seagull Pharma">Seagull Pharma</option>
    	<option value="Commonwealth Pharmaceuticals">Commonwealth Pharmaceuticals</option>
    	<option value="Sunways India Pvt Ltd">Sunways India Pvt Ltd</option>
    	<option value="Jagsonpal Pharmaceuticals Ltd">Jagsonpal Pharmaceuticals Ltd</option>
    	<option value="Paras Pharmaceuticals Ltd">Paras Pharmaceuticals Ltd</option>
    	<option value="Aretaeus Pharmaceuticals">Aretaeus Pharmaceuticals</option>
    	<option value="Zyphars Pharmaceutics Pvt Ltd">Zyphars Pharmaceutics Pvt Ltd</option>
    	<option value="Triton Healthcare Pvt Ltd">Triton Healthcare Pvt Ltd</option>
    	<option value="Biocon Ltd">Biocon Ltd</option>
    	<option value="Lark Laboratories">Lark Laboratories</option>
    	<option value="Ronyd Healthcare Pvt Ltd">Ronyd Healthcare Pvt Ltd</option>
    	<option value="Aksigen Hospital Care">Aksigen Hospital Care</option>
    	<option value="Resilient Cosmeceuticals Private Limited">Resilient Cosmeceuticals Private Limited</option>
    	<option value="Icpa Health Products Ltd">Icpa Health Products Ltd</option>
    	<option value="Innova Marketing">Innova Marketing</option>
    	<option value="Cachet Pharmaceuticals Pvt Ltd">Cachet Pharmaceuticals Pvt Ltd</option>
    	<option value="Gary Pharma Sande">Gary Pharma Sande</option>
    	<option value="Hygeia Pharmaceuticals">Hygeia Pharmaceuticals</option>
    	<option value="Palson Drug">Palson Drug</option>
    	<option value="Vanguard Therapeutics P Ltd">Vanguard Therapeutics P Ltd</option>
    	<option value="Medispan Ltd">Medispan Ltd</option>
    	<option value="Pasteur Laboratories Pvt Ltd">Pasteur Laboratories Pvt Ltd</option>
    	<option value="Sanzyme Ltd">Sanzyme Ltd</option>
    	<option value="Unicure Remedies Pvt Ltd">Unicure Remedies Pvt Ltd</option>
    	<option value="Unison Pharmaceuticals Pvt Ltd">Unison Pharmaceuticals Pvt Ltd</option>
    	<option value="Biopharm Laboratories">Biopharm Laboratories</option>
    	<option value="Procter &amp. Gamble Hygiene and Health Care Ltd">Procter &amp. Gamble Hygiene and Health Care Ltd</option>
    	<option value="Colgate-Palmolive Company">Colgate-Palmolive Company</option>
    	<option value="Uth Healthcare">Uth Healthcare</option>
    	<option value="Alcon Pharmaceuticals">Alcon Pharmaceuticals</option>
    	<option value="Johnson &amp. Johnson Ltd">Johnson &amp. Johnson Ltd</option>
    	<option value="Medreich Lifecare Limited">Medreich Lifecare Limited</option>
    	<option value="Piramal Healthcare">Piramal Healthcare</option>
    	<option value="Elder Pharamaceuticals Ltd">Elder Pharamaceuticals Ltd</option>
    	<option value="Solumiks Herbaceuticals Ltd">Solumiks Herbaceuticals Ltd</option>
    	<option value="Frankfurt Pharma Pvt Ltd">Frankfurt Pharma Pvt Ltd</option>
    	<option value="Samarth Pharma Pvt Ltd">Samarth Pharma Pvt Ltd</option>
    	<option value="Lupin Laboratories Ltd">Lupin Laboratories Ltd</option>
    	<option value="Ochoa Laboratories Pvt Ltd">Ochoa Laboratories Pvt Ltd</option>
    	<option value="KEE Pharma Ltd">KEE Pharma Ltd</option>
    	<option value="Shalaks Pharmaceuticals Pvt Ltd">Shalaks Pharmaceuticals Pvt Ltd</option>
    	<option value="Percos India Pvt Ltd">Percos India Pvt Ltd</option>
    	<option value="Raptakos Brett &amp. Co Ltd">Raptakos Brett &amp. Co Ltd</option>
    	<option value="Galderma India Pvt Ltd">Galderma India Pvt Ltd</option>
    	<option value="Ipca Laboratories Ltd">Ipca Laboratories Ltd</option>
    	<option value="Curatio Healthcare India Pvt Ltd">Curatio Healthcare India Pvt Ltd</option>
    	<option value="Gold Line">Gold Line</option>
    	<option value="H&amp.H Pharmaceuticals Pvt Ltd">H&amp.H Pharmaceuticals Pvt Ltd</option>
    	<option value="Sante Mernaud Pharmaceuticals Pvt Ltd">Sante Mernaud Pharmaceuticals Pvt Ltd</option>
    	<option value="Apple Therapeutics Pvt Ltd">Apple Therapeutics Pvt Ltd</option>
    	<option value="Liva Healthcare Ltd">Liva Healthcare Ltd</option>
    	<option value="Roche Products India Pvt Ltd">Roche Products India Pvt Ltd</option>
    	<option value="Modi Mundi Pharma Pvt Ltd">Modi Mundi Pharma Pvt Ltd</option>
    	<option value="Amrutanjan Health Care Ltd">Amrutanjan Health Care Ltd</option>
    	<option value="Boehringer Ingelheim India Pvt Ltd">Boehringer Ingelheim India Pvt Ltd</option>
    	<option value="Retort Pharmaceuticals Pv">Retort Pharmaceuticals Pv</option>
    	<option value="Sundyota Numandis Pharma Pvt Ltd">Sundyota Numandis Pharma Pvt Ltd</option>
    	<option value="Apex Laboratories Pvt Ltd">Apex Laboratories Pvt Ltd</option>
    	<option value="Reliance Life Science">Reliance Life Science</option>
    	<option value="Merisant">Merisant</option>
    	<option value="Novo Nordisk India Pvt Ltd">Novo Nordisk India Pvt Ltd</option>
    	<option value="Alchemist Life Science Ltd">Alchemist Life Science Ltd</option>
    	<option value="Sun Pharmaceutical Industries Ltd">Sun Pharmaceutical Industries Ltd</option>
    	<option value="Ozone Pharmaceuticals Ltd">Ozone Pharmaceuticals Ltd</option>
    	<option value="Alembic Pharmaceuticals Ltd">Alembic Pharmaceuticals Ltd</option>
    	<option value="Alembic Chemical Works Co Ltd">Alembic Chemical Works Co Ltd</option>
    	<option value="Medley Pharmaceuticals Ltd">Medley Pharmaceuticals Ltd</option>
    	<option value="Eskag Pharma Pvt Ltd">Eskag Pharma Pvt Ltd</option>
    	<option value="Reckitt &amp. Benckiser India Ltd">Reckitt &amp. Benckiser India Ltd</option>
    	<option value="Piramal Healthcare Limited">Piramal Healthcare Limited</option>
    	<option value="Kinesis Pharmaceuticals Pvt Ltd">Kinesis Pharmaceuticals Pvt Ltd</option>
    	<option value="East India Pharmaceutical Works Ltd">East India Pharmaceutical Works Ltd</option>
    	<option value="Win-Medicare Pvt Ltd">Win-Medicare Pvt Ltd</option>
    	<option value="Crescent Pharmacuticals">Crescent Pharmacuticals</option>
    	<option value="Kniss Laboratories Pvt Ltd">Kniss Laboratories Pvt Ltd</option>
    	<option value="Wyeth India">Wyeth India</option>
    	<option value="Gufic Bioscience Ltd">Gufic Bioscience Ltd</option>
    	<option value="Druto Laboratories">Druto Laboratories</option>
    	<option value="Rhombus Pharma">Rhombus Pharma</option>
    	<option value="Zaneka Pharma Pvt Ltd">Zaneka Pharma Pvt Ltd</option>
    	<option value="Nippon Seiyaku Pvt Ltd">Nippon Seiyaku Pvt Ltd</option>
    	<option value="Symbiosis Lab">Symbiosis Lab</option>
    	<option value="Delcure Life Sciences">Delcure Life Sciences</option>
    	<option value="Sanat Products Ltd">Sanat Products Ltd</option>
    	<option value="Kinedex Healthcare Pvt Ltd">Kinedex Healthcare Pvt Ltd</option>
    	<option value="Warren Pharmaceuticals">Warren Pharmaceuticals</option>
    	<option value="Flamingo Pharmaceuticals">Flamingo Pharmaceuticals</option>
    	<option value="Arinna Lifesciences Pvt Ltd">Arinna Lifesciences Pvt Ltd</option>
    	<option value="Organon (India) Ltd">Organon (India) Ltd</option>
    	<option value="Grandcure Healthcare Pvt Ltd">Grandcure Healthcare Pvt Ltd</option>
    	<option value="Excella Life Sciences Pvt Ltd">Excella Life Sciences Pvt Ltd</option>
    	<option value="Kenn Pharmaceuticals">Kenn Pharmaceuticals</option>
    	<option value="Marc Pharma">Marc Pharma</option>
    	<option value="Sapint L">Sapint L</option>
    	<option value="La Renon">La Renon</option>
    	<option value="Steadfast Medishield Pvt Ltd">Steadfast Medishield Pvt Ltd</option>
    	<option value="Salve Pharmaceuticals Pvt Ltd">Salve Pharmaceuticals Pvt Ltd</option>
    	<option value="Protech Biosystems">Protech Biosystems</option>
    	<option value="Klm Pharmaceuticals">Klm Pharmaceuticals</option>
    	<option value="Bell Pharma Pvt Ltd">Bell Pharma Pvt Ltd</option>
    	<option value="Claris Lifesciences Ltd">Claris Lifesciences Ltd</option>
    	<option value="Gland Pharma Ltd">Gland Pharma Ltd</option>
    	<option value="Celon Laboratories Ltd">Celon Laboratories Ltd</option>
    	<option value="Msd Pharmaceuticals Private Ltd">Msd Pharmaceuticals Private Ltd</option>
    	<option value="Rathi Laboratories Hindustan Pvt Ltd">Rathi Laboratories Hindustan Pvt Ltd</option>
    	<option value="Burnet Pharmaceuticals P Ltd">Burnet Pharmaceuticals P Ltd</option>
    	<option value="Shrinivas Gujarat Laboratories Pvt Ltd">Shrinivas Gujarat Laboratories Pvt Ltd</option>
    	<option value="Jubilant Pharmaceuticals">Jubilant Pharmaceuticals</option>
    	<option value="Serdia Pharmaceuticals India Pvt Ltd">Serdia Pharmaceuticals India Pvt Ltd</option>
    	<option value="A N Pharmaceuticals Pvt Ltd">A N Pharmaceuticals Pvt Ltd</option>
    	<option value="United Biotech Pvt Ltd">United Biotech Pvt Ltd</option>
    	<option value="Ochoa Laboratiories Ltd">Ochoa Laboratiories Ltd</option>
    	<option value="Premier Nutraceuticals Pvt Ltd">Premier Nutraceuticals Pvt Ltd</option>
    	<option value="Medi Globe">Medi Globe</option>
    	<option value="Ferring Pharmaceuticals">Ferring Pharmaceuticals</option>
    	<option value="Ferring Pharmaceuticals Pvt Ltd">Ferring Pharmaceuticals Pvt Ltd</option>
    	<option value="Chandra Bhagat Pharma Pvt Ltd">Chandra Bhagat Pharma Pvt Ltd</option>
    	<option value="Dahlia Pharmaceutical Pvt Ltd">Dahlia Pharmaceutical Pvt Ltd</option>
    	<option value="Bharat Serums &amp. Vaccines Ltd">Bharat Serums &amp. Vaccines Ltd</option>
    	<option value="Unison Pharmaceuticals">Unison Pharmaceuticals</option>
    	<option value="Avinash Health Products Pvt Ltd">Avinash Health Products Pvt Ltd</option>
    	<option value="Dios Lifesciences Pvt Ltd">Dios Lifesciences Pvt Ltd</option>
    	<option value="Macmillon Pharmaceuticals">Macmillon Pharmaceuticals</option>
    	<option value="Solvay Pharma India Pvt Ltd">Solvay Pharma India Pvt Ltd</option>
    	<option value="Baxter India Pvt Ltd">Baxter India Pvt Ltd</option>
    	<option value="Nouveau Medicament Pvt Ltd">Nouveau Medicament Pvt Ltd</option>
    	<option value="New Medicon Pharma Lab Pvt Ltd">New Medicon Pharma Lab Pvt Ltd</option>
    	<option value="Charak Pharma Pvt Ltd">Charak Pharma Pvt Ltd</option>
    	<option value="Tishcon Pharmed">Tishcon Pharmed</option>
    	<option value="Samarth Life Sciences">Samarth Life Sciences</option>
    	<option value="La Renon Healthcare">La Renon Healthcare</option>
    	<option value="Himalaya Drug Company">Himalaya Drug Company</option>
    	<option value="Aimil Pharmaceutical India">Aimil Pharmaceutical India</option>
    	<option value="Knoll Pharmaceuticals Ltd">Knoll Pharmaceuticals Ltd</option>
    	<option value="Nri Vision Care">Nri Vision Care</option>
    	<option value="Allergan India Ltd">Allergan India Ltd</option>
    	<option value="Syntho Pharmaceuticals P Ltd">Syntho Pharmaceuticals P Ltd</option>
    	<option value="Maverick Pharma Pvt Ltd">Maverick Pharma Pvt Ltd</option>
    	<option value="Merck Consumer Health Care Ltd">Merck Consumer Health Care Ltd</option>
    	<option value="Algen Healthcare Pvt Ltd">Algen Healthcare Pvt Ltd</option>
    	<option value="Vasu Pharmaceuticals Pvt Ltd">Vasu Pharmaceuticals Pvt Ltd</option>
    	<option value="Canixa Life Sciences Pvt">Canixa Life Sciences Pvt</option>
    	<option value="Dupen Laboratories Pvt Ltd">Dupen Laboratories Pvt Ltd</option>
    	<option value="Mark India">Mark India</option>
    	<option value="Ethicare Remedies">Ethicare Remedies</option>
    	<option value="Dermo Care Laboratories">Dermo Care Laboratories</option>
    	<option value="Panzer Pharmaceuticals Pvt Ltd">Panzer Pharmaceuticals Pvt Ltd</option>
    	<option value="Curatio Health Care Pvt Ltd">Curatio Health Care Pvt Ltd</option>
    	<option value="Martin Harris Pvt Ltd">Martin Harris Pvt Ltd</option>
    	<option value="Glowderma Lab Pvt Ltd">Glowderma Lab Pvt Ltd</option>
    	<option value="Mac Laboratories Ltd">Mac Laboratories Ltd</option>
    	<option value="Remember India Medicos">Remember India Medicos</option>
    	<option value="Menarini">Menarini</option>
    	<option value="Kineses Laboratories">Kineses Laboratories</option>
    	<option value="Ursapharm India Pvt Ltd">Ursapharm India Pvt Ltd</option>
    	<option value="Pharmacia &amp. Upjohn India Pvt Ltd">Pharmacia &amp. Upjohn India Pvt Ltd</option>
    	<option value="LG Life Sciences India Pvt Ltd">LG Life Sciences India Pvt Ltd</option>
    	<option value="Xyata Life Sciences Pvt Ltd">Xyata Life Sciences Pvt Ltd</option>
    	<option value="Adroit Healthcare Pvt Ltd">Adroit Healthcare Pvt Ltd</option>
    	<option value="Seagull Labs India Pvt Ltd">Seagull Labs India Pvt Ltd</option>
    	<option value="Indo French Laboratories Ltd">Indo French Laboratories Ltd</option>
    	<option value="Franklin Laboratories India Pvt Ltd">Franklin Laboratories India Pvt Ltd</option>
    	<option value="Biostrass Health Sciences">Biostrass Health Sciences</option>
    	<option value="Chemonix India Ltd">Chemonix India Ltd</option>
    	<option value="Sanofi India Ltd (Aventis)">Sanofi India Ltd (Aventis)</option>
    	<option value="Plus India Pharma">Plus India Pharma</option>
    	<option value="John Biotech Pvt Ltd">John Biotech Pvt Ltd</option>
    	<option value="Trident Pharmaceuticals">Trident Pharmaceuticals</option>
    	<option value="Patson Laboratories Pvt Ltd">Patson Laboratories Pvt Ltd</option>
    	<option value="Hetero Drugs Ltd">Hetero Drugs Ltd</option>
    	<option value="D R Johns Lab Pharma Pvt Ltd">D R Johns Lab Pharma Pvt Ltd</option>
    	<option value="Medinova Labs">Medinova Labs</option>
    	<option value="La Pharmaceuticals">La Pharmaceuticals</option>
    	<option value="Dial Pharmaceuticals Pvt Ltd">Dial Pharmaceuticals Pvt Ltd</option>
    	<option value="Kaizen Pharma">Kaizen Pharma</option>
    	<option value="Pharma Link Pvt Ltd">Pharma Link Pvt Ltd</option>
    	<option value="Vilco Laboratories Pvt Ltd">Vilco Laboratories Pvt Ltd</option>
    	<option value="German Remedies Ltd (Zydus Cadila)">German Remedies Ltd (Zydus Cadila)</option>
    	<option value="West Coast Pharma Works">West Coast Pharma Works</option>
    	<option value="Intel Pharmaceuticals">Intel Pharmaceuticals</option>
    	<option value="Lundbeck India Private Limited">Lundbeck India Private Limited</option>
    	<option value="Plus Pharma">Plus Pharma</option>
    	<option value="Profess Health Products P Ltd">Profess Health Products P Ltd</option>
    	<option value="Roche">Roche</option>
    	<option value="Lg Lifesciences">Lg Lifesciences</option>
    	<option value="Eli Lilly and Company India Pvt Ltd">Eli Lilly and Company India Pvt Ltd</option>
    	<option value="Shantha Biotech">Shantha Biotech</option>
    	<option value="Medion Biotech">Medion Biotech</option>
    	<option value="Miracalus Pharma Pvt Ltd">Miracalus Pharma Pvt Ltd</option>
    	<option value="Biochem Pharmaceutical Industries">Biochem Pharmaceutical Industries</option>
    	<option value="Zenotech Laboratories Ltd">Zenotech Laboratories Ltd</option>
    	<option value="Bristol-Myers Squibb Company">Bristol-Myers Squibb Company</option>
    	<option value="Strides Arcolab Ltd">Strides Arcolab Ltd</option>
    	<option value="Getwell Pharmaceuticals">Getwell Pharmaceuticals</option>
    	<option value="Cytogen Pharmaceuticals India Pvt Ltd">Cytogen Pharmaceuticals India Pvt Ltd</option>
    	<option value="Khandelwal Laboratories Pvt Ltd">Khandelwal Laboratories Pvt Ltd</option>
    	<option value="Gls Pharma Pvt Ltd">Gls Pharma Pvt Ltd</option>
    	<option value="Neon Antibiotics Pvt Ltd">Neon Antibiotics Pvt Ltd</option>
    	<option value="Genzyme Corporation">Genzyme Corporation</option>
    	<option value="Biocon">Biocon</option>
    	<option value="Sin San Pharmaceuticals">Sin San Pharmaceuticals</option>
    	<option value="Shield Health Care Pvt Ltd">Shield Health Care Pvt Ltd</option>
    	<option value="Astra Zeneca">Astra Zeneca</option>
    	<option value="Mitoch Pharma Pvt Ltd">Mitoch Pharma Pvt Ltd</option>
    	<option value="Systopic Laboratories Pvt Ltd">Systopic Laboratories Pvt Ltd</option>
    	<option value="HLL Lifecare Ltd">HLL Lifecare Ltd</option>
    	<option value="Dkt India Ltd">Dkt India Ltd</option>
    	<option value="Uni Labs">Uni Labs</option>
    	<option value="Forgen">Forgen</option>
    	<option value="Biotest Pharmaceuticals Corporation">Biotest Pharmaceuticals Corporation</option>
    	<option value="Bharat Serums &amp; Vaccines Ltd">Bharat Serums &amp; Vaccines Ltd</option>
    	<option value="BPL Pharmaceuticals Pvt Ltd">BPL Pharmaceuticals Pvt Ltd</option>
    	<option value="Reckitt Benckiser">Reckitt Benckiser</option>
    	<option value="Orchid Chemicals &amp; Pharmaceuticals Ltd">Orchid Chemicals &amp; Pharmaceuticals Ltd</option>
    	<option value="Bharat Biotech">Bharat Biotech</option>
    	<option value="Bioniche Life Sciences Inc">Bioniche Life Sciences Inc</option>
    	<option value="Alniche Life Sciences Pvt Ltd">Alniche Life Sciences Pvt Ltd</option>
    	<option value="Reliance Drugs &amp; Surgicals">Reliance Drugs &amp; Surgicals</option>
    	<option value="Micro Labs Ltd (Foresee)">Micro Labs Ltd (Foresee)</option>
    	<option value="Zen Pharma Pvt Ltd">Zen Pharma Pvt Ltd</option>
    	<option value="Zuvius Lifesciences Pvt Ltd">Zuvius Lifesciences Pvt Ltd</option>
    	<option value="FDC Ltd">FDC Ltd</option>
    	<option value="CFL Pharmaceuticals Ltd">CFL Pharmaceuticals Ltd</option>
    	<option value="Adcock Ingram">Adcock Ingram</option>
    	<option value="Ban Labs Pvt Ltd">Ban Labs Pvt Ltd</option>
    	<option value="Ban Labs">Ban Labs</option>
    	<option value="Himalaya Drugs">Himalaya Drugs</option>
    	<option value="Pharmanova India Drugs Pvt Ltd">Pharmanova India Drugs Pvt Ltd</option>
    	<option value="Universal Medicare">Universal Medicare</option>
    	<option value="SBL Homeopathy">SBL Homeopathy</option>
    	<option value="Johnson &amp; Johnson Ltd">Johnson &amp; Johnson Ltd</option>
    	<option value="Appsamy Ocular Devices">Appsamy Ocular Devices</option>
    	<option value="Reckitt &amp; Benckiser India Ltd">Reckitt &amp; Benckiser India Ltd</option>
    	<option value="Optica Pharmaceuticals Pvt Ltd">Optica Pharmaceuticals Pvt Ltd</option>
    	<option value="British Biologicals">British Biologicals</option>
    	<option value="Raptakos Brett &amp; Co Ltd">Raptakos Brett &amp; Co Ltd</option>
    	<option value="Corona Remedies Pvt Ltd">Corona Remedies Pvt Ltd</option>
    	<option value="Tablets India Limited">Tablets India Limited</option>
    	<option value="Sandhika Pharmaceuticals Pvt Ltd">Sandhika Pharmaceuticals Pvt Ltd</option>
    	<option value="Indian Drug Pharmaceuticals Ltd Idpl">Indian Drug Pharmaceuticals Ltd Idpl</option>
    	<option value="Solvate Laboratries Pvt Ltd">Solvate Laboratries Pvt Ltd</option>
    	<option value="Nexgen Rx Life Science Pvt Ltd">Nexgen Rx Life Science Pvt Ltd</option>
    	<option value="Sunij Pharma Pvt Ltd">Sunij Pharma Pvt Ltd</option>
    	<option value="Life Line Biotech Ltd">Life Line Biotech Ltd</option>
    	<option value="Appasamy Ocular Device Pvt Ltd">Appasamy Ocular Device Pvt Ltd</option>
    	<option value="Anglo-French Drugs &amp; Industries Ltd">Anglo-French Drugs &amp; Industries Ltd</option>
    	<option value="Life Medicare Biotech P Ltd">Life Medicare Biotech P Ltd</option>
    	<option value="Salud Care I Pvt Ltd">Salud Care I Pvt Ltd</option>
    	<option value="Kaiser Pharmaceuticals">Kaiser Pharmaceuticals</option>
    	<option value="Bharat Bio Tech International">Bharat Bio Tech International</option>
    	<option value="Synergy Diagnostics Pvt Ltd">Synergy Diagnostics Pvt Ltd</option>
    	<option value="Sanify Healthcare Pvt Ltd">Sanify Healthcare Pvt Ltd</option>
    	<option value="Allergan India Pvt Ltd">Allergan India Pvt Ltd</option>
    	<option value="Curewell Drugs &amp; Pharmaceuticals Pvt Ltd">Curewell Drugs &amp; Pharmaceuticals Pvt Ltd</option>
    	<option value="Vensat Bio">Vensat Bio</option>
    	<option value="Jagsonpal Pharmaceuticals">Jagsonpal Pharmaceuticals</option>
    	<option value="Mylan Pharmaceuticals Pvt Ltd">Mylan Pharmaceuticals Pvt Ltd</option>
    	<option value="Endocard India Pvt Ltd">Endocard India Pvt Ltd</option>
    	<option value="Cytochrome Life Sciences Pvt Ltd">Cytochrome Life Sciences Pvt Ltd</option>
    	<option value="Healers Pharmaceuticals">Healers Pharmaceuticals</option>
    	<option value="Monichem Healthcare Pvt Ltd">Monichem Healthcare Pvt Ltd</option>
    	<option value="Provis">Provis</option>
    	<option value="El-Shaddai Biologicals Ltd">El-Shaddai Biologicals Ltd</option>
    	<option value="Prosper Channel Lifescience India Pvt Ltd">Prosper Channel Lifescience India Pvt Ltd</option>
    	<option value="Synergy Lifescience Pvt Ltd">Synergy Lifescience Pvt Ltd</option>
    	<option value="Biogen">Biogen</option>
    	<option value="Bio Med Private Limited">Bio Med Private Limited</option>
    	<option value="Astellas Pharma Inc">Astellas Pharma Inc</option>
    	<option value="Mcastro Pharma">Mcastro Pharma</option>
    	<option value="Sresan Pharmaceuticals Ltd">Sresan Pharmaceuticals Ltd</option>
    	<option value="MITS Healthcare Pvt Ltd">MITS Healthcare Pvt Ltd</option>
    	<option value="Skymax Laboratories Ltd">Skymax Laboratories Ltd</option>
    	<option value="Wintech Pharmaceuticals">Wintech Pharmaceuticals</option>
    	<option value="Lifecare Innovations Pvt Ltd">Lifecare Innovations Pvt Ltd</option>
    	<option value="Gilead Sciences Inc">Gilead Sciences Inc</option>
    	<option value="Anhox Healthcare Pvt Ltd">Anhox Healthcare Pvt Ltd</option>
    	<option value="Calibar Pharmaceuticals">Calibar Pharmaceuticals</option>
    	<option value="Edward Young Labs">Edward Young Labs</option>
    	<option value="3A Pharmaceuticals">3A Pharmaceuticals</option>
    	<option value="Excella Life Sciences">Excella Life Sciences</option>
    	<option value="Indica Laboratories Pvt Ltd">Indica Laboratories Pvt Ltd</option>
    	<option value="Unireach Healthcare Pvt Ltd">Unireach Healthcare Pvt Ltd</option>
    	<option value="Astrum Healthcare Pvt Ltd">Astrum Healthcare Pvt Ltd</option>
    	<option value="Pci Pharmaceuticals">Pci Pharmaceuticals</option>
    	<option value="MVD Pharmaceuticals">MVD Pharmaceuticals</option>
    	<option value="Raymed Pharmaceuticals Pvt Ltd">Raymed Pharmaceuticals Pvt Ltd</option>
    	<option value="Crosslands Ltd.">Crosslands Ltd.</option>
    	<option value="Leo Pharmaceuticals">Leo Pharmaceuticals</option>
    	<option value="Hi Tec Pharmaceuticals Pvt Ltd">Hi Tec Pharmaceuticals Pvt Ltd</option>
    	<option value="Serve Pharmaceuticals">Serve Pharmaceuticals</option>
    	<option value="Albert David Ltd">Albert David Ltd</option>
    	<option value="Baksun Healthcare Pvt Ltd">Baksun Healthcare Pvt Ltd</option>
    	<option value="Alchem International Ltd">Alchem International Ltd</option>
    	<option value="Homeopathic">Homeopathic</option>
    	<option value="Bakson Homeopathy">Bakson Homeopathy</option>
    	<option value="Dr Reckeweg &amp. Co">Dr Reckeweg &amp. Co</option>
    	<option value="Biersdorf">Biersdorf</option>
    	<option value="Haslab">Haslab</option>
    	<option value="Dr Willmar Schwabe">Dr Willmar Schwabe</option>
    	<option value="H H Laboratory">H H Laboratory</option>
    	<option value="Palsons Derma">Palsons Derma</option>
    	<option value="Morepen Laboratories Ltd">Morepen Laboratories Ltd</option>
    	<option value="Rapross Pharmaceutical">Rapross Pharmaceutical</option>
    	<option value="Omenta Pharma Pvt Ltd">Omenta Pharma Pvt Ltd</option>
    	<option value="Icon Pharma &amp. Surgicals Pvt Ltd">Icon Pharma &amp. Surgicals Pvt Ltd</option>
    	<option value="British Biological">British Biological</option>
    	<option value="Nestle India Ltd">Nestle India Ltd</option>
    	<option value="Pulse Pharmaceuticals">Pulse Pharmaceuticals</option>
    	<option value="Marc Laboratories Pvt Ltd">Marc Laboratories Pvt Ltd</option>
    	<option value="Deys Medical Stores Mfg Ltd (Deys Medical)">Deys Medical Stores Mfg Ltd (Dey's Medical)</option>
    	<option value="Lifeline Remedies India Pvt Ltd">Lifeline Remedies India Pvt Ltd</option>
    	<option value="Symbiotic Drugs">Symbiotic Drugs</option>
    	<option value="Nri Vision Care Pvt Ltd">Nri Vision Care Pvt Ltd</option>
    	<option value="The Pharmed Research Lab Pvt Ltd">The Pharmed Research Lab Pvt Ltd</option>
    	<option value="Shilar Pharmaceuticals">Shilar Pharmaceuticals</option>
    	<option value="Calix Health Care">Calix Health Care</option>
    	<option value="Bioplasma Immunological Research Pvt Ltd">Bioplasma Immunological Research Pvt Ltd</option>
    	<option value="Encore Pharmaceuticals Inc.">Encore Pharmaceuticals Inc.</option>
    	<option value="Divine Lifecare Pvt Ltd">Divine Lifecare Pvt Ltd</option>
    	<option value="Magnet Labs Pvt Ltd">Magnet Labs Pvt Ltd</option>
    	<option value="Danone">Danone</option>
    	<option value="Safetab Life Science">Safetab Life Science</option>
    	<option value="Hema Laboratories">Hema Laboratories</option>
    	<option value="Triko Pharmaceuticals">Triko Pharmaceuticals</option>
    	<option value="Ceras Pharmaceutical">Ceras Pharmaceutical</option>
    	<option value="Zeus Pharma">Zeus Pharma</option>
    	<option value="Orchid Chemicals &amp.. Pharmaceuticals Ltd">Orchid Chemicals &amp.. Pharmaceuticals Ltd</option>
    	<option value="Anglo-French Drugs &amp.. Industries Ltd">Anglo-French Drugs &amp.. Industries Ltd</option>
    	<option value="3C Health Solutions Pvt Ltd">3C Health Solutions Pvt Ltd</option>
    	<option value="Kruger Nutra Med Pharma Pvt Ltd">Kruger Nutra Med Pharma Pvt Ltd</option>
    	<option value="Nelon Pharmaceuticals Pvt Ltd">Nelon Pharmaceuticals Pvt Ltd</option>
    	<option value="Biochemix Healthcare Pvt Ltd">Biochemix Healthcare Pvt Ltd</option>
    	<option value="Trumac Healthcare">Trumac Healthcare</option>
    	<option value="Nexgen Healthcare Pvt Ltd">Nexgen Healthcare Pvt Ltd</option>
    	<option value="Nexgen Pharma">Nexgen Pharma</option>
    	<option value="Sapient Laboratories Pvt Ltd">Sapient Laboratories Pvt Ltd</option>
    	<option value="Raptakos Brett &amp.. Co Ltd">Raptakos Brett &amp.. Co Ltd</option>
    	<option value="Aarpik Pharmaceuticals Pvt Ltd">Aarpik Pharmaceuticals Pvt Ltd</option>
    	<option value="Nestor Pharmaceuticals">Nestor Pharmaceuticals</option>
    	<option value="Alliance Remedies">Alliance Remedies</option>
    	<option value="Invision Medi Sciences Pvt Ltd">Invision Medi Sciences Pvt Ltd</option>
    	<option value="Que Pharma Pvt Ltd">Que Pharma Pvt Ltd</option>
    	<option value="East African India Remedies Pvt Ltd">East African India Remedies Pvt Ltd</option>
    	<option value="Icon Pharma &amp.. Surgicals Pvt Ltd">Icon Pharma &amp.. Surgicals Pvt Ltd</option>
    	<option value="Bharat Serums &amp.. Vaccines Ltd">Bharat Serums &amp.. Vaccines Ltd</option>
    	<option value="Omega Pharmaceuticals Pvt Ltd">Omega Pharmaceuticals Pvt Ltd</option>
    	<option value="Aareen Healthcare">Aareen Healthcare</option>
    	<option value="Ace (Svizera Healthcare) (Maneesh Pharmaceuticals Ltd)">Ace (Svizera Healthcare) (Maneesh Pharmaceuticals Ltd)</option>
    	<option value="Tidal Laboratries">Tidal Laboratries</option>
    	<option value="Micro Nova Pharmaceuticals Ltd">Micro Nova Pharmaceuticals Ltd</option>
    	<option value="Ruffles Pharma Pvt Ltd">Ruffles Pharma Pvt Ltd</option>
    	<option value="Medichem Pharmceuticals Ltd">Medichem Pharmceuticals Ltd</option>
    	<option value="Johnson &amp.. Johnson Ltd">Johnson &amp.. Johnson Ltd</option>
    	<option value="Feron Lifesciences Pvt Ltd">Feron Lifesciences Pvt Ltd</option>
    	<option value="Synthiko Formulations Ltd">Synthiko Formulations Ltd</option>
    	<option value="Curewell Drugs &amp.. Pharmaceuticals Pvt Ltd">Curewell Drugs &amp.. Pharmaceuticals Pvt Ltd</option>
    	<option value="Three Dots Lifescience">Three Dots Lifescience</option>
    	<option value="Osr Pharmaceuticals Pvt Ltd">Osr Pharmaceuticals Pvt Ltd</option>
    	<option value="Pacific Drugs Chemicals">Pacific Drugs Chemicals</option>
    	<option value="United Lifecare Pvt Ltd">United Lifecare Pvt Ltd</option>
    	<option value="Arco Life Sciences India Pvt Ltd">Arco Life Sciences India Pvt Ltd</option>
    	<option value="Kare Health Specialities Pvt Ltd">Kare Health Specialities Pvt Ltd</option>
    	<option value="Arehk Healthcare">Arehk Healthcare</option>
    	<option value="Maan Pharmaceuticals Ltd">Maan Pharmaceuticals Ltd</option>
    	<option value="Gem Pharmaceuticals Pvt Ltd">Gem Pharmaceuticals Pvt Ltd</option>
    	<option value="Rostrumed Biotech Pvt Ltd">Rostrumed Biotech Pvt Ltd</option>

    </select>
</div>
<div class="in-search-button">
    <button class="btn btn-danger btn-custom" id="search-submit">Search</button>
</div>


<script type="text/javascript">
$('.multiselect').multiselect('refresh');
    $(document).ready(function() {
            $('.multiselect').multiselect();
    });
</script>
