{% load staticfiles %}
<script
			  src="https://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous"></script>

		<!-- <form class="search-form" action="." method="post">
		  {% csrf_token %}
		  <label>Search :</label>
		  <input id="search-text" type="input" name="search_word" value="" placeholder='search'>
		</form> -->
		<div class="col-md-12">
			<div class="text-center">
	      <table class="table table-hover in-pr-table">
	        <thead>
	          <tr>
							<th width="10%"></th>
	            <th width="40%">Name</th>
	            <th width="40%"> </th>
	            <th width="10%">Quantity</th>
	          </tr>
	        </thead>
	        <tbody id="table-body">
	          {% for item in response%}
	          <tr>
							<td>
								<div class="in-pr-image">
									<img src="{{item.current_image}}" alt="{{item.brand_name}}" />
								</div>
							</td>
	            <td>
								<div class="in-pr-category">
									{% if item.category %}
										{{item.category}}
									{% endif %}
								</div>
								<div class="in-pr-name">
									<a href="{% url 'other_product:product_detail' item.id %}">
										{% if item.brand_name %}
											{{item.brand_name}}
										{% else %}
											N/A
										{% endif %}
									</a>
								</div>
								<div class="in-pr-form">
									{% if item.flavor %}
										{{item.flavor}}
									{% endif %}
								</div>
	            	<div class="in-pr-manufacturer">
	            		{% if item.category_1 %}{{item.category_1}}{% endif %}
									{% if item.category_2 %}{{item.category_2}}{% endif %}
									{% if item.category_3 %}{{item.category_3}}{% endif %}
	            	</div>
	            </td>
						  <td>
						  	<div class="in-pr-price hidden">
									{% if item.mrp %}
							  		{{item.mrp}}
									{% else %}
										N/A
									{% endif %}
						  	</div>
						  </td>
						  <td>
								<div class="in-pr-qty">
										<div class="row">
											<div class="col-md-9">
												<div class="row">
													<div class="col-md-4">
														<button type="button" class="btn btn-default bootstrap-touchspin-down" name="button"><i class="md md-remove"></i></button>
													</div>
													<div class="col-md-4 quantity">
														<input class="form-group" type="text" value="5">
													</div>
													<div class="col-md-4">
														<button type="button" class="btn btn-default bootstrap-touchspin-up" name="button"><i class="md md-add"></i></button>
													</div>
												</div>
											</div>
	                    <div class="form-group col-md-3">
	                        <button class="btn btn-sm  btn-danger btn-custom add_to_cart" id="{{ item.id }}" style="float:right">
	                            Add
	                        </button>
	                    </div>
						  		</div>
						  </td>
	          </tr>
	          {% endfor %}
	        </tbody>
	      </table>
			</div>
    </div>
<script type="text/javascript">
	var page=0;
	var isSearch=0;
	var a_url = "";
	var s_page = 0;
	$('body').on('click', '#search-submit', function (e) {
	// $('#search-submit').click(function(e){
			e.preventDefault();
			isSearch=1;
			var orderCount = 0;
			var selected_category = [];
			var selected_category2 =[];
			var selected_category3 = [];

			$('#search-category option:selected').each(function() {
					selected_category.push($(this).val());
			});

			selected_category.sort(function(a, b) {
					return a[1] - b[1];
			});

			var categories = '';
			for (var i = 0; i < selected_category.length; i++) {
				if (i == selected_category.length-1){
					categories += selected_category[i].replace(/ /g,"*");
				}
				else {
					categories += selected_category[i].replace(/ /g,"*") + ' OR ';
				}
			}
			$('#search-category1 option:selected').each(function() {
					selected_category2.push($(this).val());
			});

			selected_category2.sort(function(a, b) {
					return a[1] - b[1];
			});
			var category2='';
			for (var i = 0; i < selected_category2.length; i++) {
					if (i == selected_category2.length-1){
						category2 += selected_category2[i].replace(/ /g,"*");
					}
					else {
						category2 += selected_category2[i].replace(/ /g,"*") + ' OR ';
					}
			}
			$('#search-category2 option:selected').each(function() {
					selected_category3.push($(this).val());
			});

			selected_category3.sort(function(a, b) {
					return a[1] - b[1];
			});
			var category3='';
			for (var i = 0; i < selected_category3.length; i++) {
					if (i == selected_category3.length-1){
						category3 += selected_category3[i].replace(/ /g,"*");
					}
					else {
						category3 += selected_category3[i].replace(/ /g,"*") + ' OR ';
					}
			}
			a_url = "" ;
			if ($('#search-name').val()!=""){
				a_url = a_url+"Name:*"+$('#search-name').val() + "* and ";
			};
			if(categories != ""){
				a_url = a_url +"category:("+categories+") and ";
			};
			if(category2 !=""){
				a_url = a_url +"category_1:("+category2+") and ";
			};
			if(category3 !=""){
				a_url = a_url +"category_2:("+category3+") and ";
			};
			f_url = "http://localhost:8983/solr/healthkart/select?rows=20&wt=json&q=" + a_url
			s_url = '/other_product/search/1/?url='+encodeURIComponent(a_url);
			if($('#search-name').val()!="" || categories != "" || category2!="" || category3!=""){
		    $.ajax({
		        url : s_url,
		        type : "GET",
		        dataType:'json',
		        data : {},
		        success : function(json) {
							console.log("success");
							var tr;
							doc = json.response.docs;
							$("#table-body").empty();
							for (var i = 0; i < doc.length; i++) {
								tr = $('<tr/>');
								url = "/other_product/details/"+ doc[i]._id;
								tr.append('<td><div class="in-pr-image"><img src="'+
									 (doc[i].current_image ? doc[i].current_image : '')+
								'" alt="'+doc[i].brand_name+'" /></div></td>');
								tr.append('<td><div class="in-pr-category">' +
										 (doc[i].category ? doc[i].category : '')+
								 '</div><div class="in-pr-name"><a href="'+url+'">'+
										 (doc[i].brand_name ? doc[i].brand_name : '')+
								 '</a></div><div class="in-pr-form">'+
										 (doc[i].flavor ? doc[i].flavor : '')+
								 '</div><div class="in-pr-manufacturer">'+
										 (doc[i].category_1 ? doc[i].category_1 : '')+
										 (doc[i].category_2 ? doc[i].category_2 : '')+
										 (doc[i].category_3 ? doc[i].category_3 : '')+
								 '</div></td>');
								tr.append('<td><div class="in-pr-price hidden">'+
									 (doc[i].mrp ? doc[i].mrp : '')+
								 '</td></a>');
								 tr.append('<td><div class="in-pr-qty"><div class="row"><div class="col-md-9 col-sm-9 col-xs-12"><div class="row"><div class="col-md-4 col-sm-4 col-xs-4"><button type="button" class="btn btn-default bootstrap-touchspin-down" name="button"><i class="md md-remove"></i></button></div><div class="col-md-4 col-sm-4 col-xs-4 quantity"><input class="form-group" type="text" value="5"></div>	<div class="col-md-4 col-sm-4 col-xs-4"><button type="button" class="btn btn-default bootstrap-touchspin-up" name="button"><i class="md md-add"></i></button></div></div></div><div class="form-group col-md-3 col-xs-12"><button class="btn btn-sm  btn-danger btn-custom add_to_cart" id="'
								 	+doc[i]._id +
								 	'"style="float:right">Add</button></div></div></td>');
								$('#table-body').append(tr);
							}
						$('#search-name').val("");
		        },
		        // handle a non-successful response
		        error : function(xhr,errmsg,err) {
		            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
		                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
		            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
		        }
		    });
			};
	});

	$(window).scroll(function() {
    if($(window).scrollTop() > ($(document).height() - $(window).height())/2 && isSearch==0) {
           // ajax call get data from server and append to the div
					 page++;
					 $.ajax({
			         url : "/other_product/"+page,
			         type : "GET",
			         dataType:'html',
			         data : {},
			         success : function(json) {
			             console.log("success");
				           var tr;
									 json = json.replace(/&quot;/ig,'"');
									 json = JSON.parse(json);
				           doc = json.response.docs;
				           for (var i = 0; i < doc.length; i++) {
				               tr = $('<tr/>');
											 url = "/other_product/details/"+ doc[i]._id;
				               tr.append('<td><div class="in-pr-image"><img src="'+
											    (doc[i].current_image ? doc[i].current_image : '')+
											 '" alt="'+doc[i].brand_name+'" /></div></td>');
											 tr.append('<td><div class="in-pr-category">' +
				 									  (doc[i].category ? doc[i].category : '')+
				 								'</div><div class="in-pr-name"><a href="'+url+ '">'+
			 										 (doc[i].brand_name ? doc[i].brand_name : '')+
			 								 '</a></div><div class="in-pr-form">'+
				 									  (doc[i].flavor ? doc[i].flavor : '')+
				 								'</div><div class="in-pr-manufacturer">'+
				 	            		  (doc[i].category_1 ? doc[i].category_1 : '')+
													  (doc[i].category_2 ? doc[i].category_2 : '')+
													  (doc[i].category_3 ? doc[i].category_3 : '')+
				 	            	'</div></td>');
				               tr.append('<td><div class="in-pr-price hidden">'+
											    (doc[i].mrp ? doc[i].mrp : '')+
				 						  	'</td></a>');
												tr.append('<td><div class="in-pr-qty"><div class="row"><div class="col-md-9 col-sm-9 col-xs-12"><div class="row"><div class="col-md-4 col-sm-4 col-xs-4"><button type="button" class="btn btn-default bootstrap-touchspin-down" name="button"><i class="md md-remove"></i></button></div><div class="col-md-4 col-sm-4 col-xs-4 quantity"><input class="form-group" type="text" value="5"></div>	<div class="col-md-4 col-sm-4 col-xs-4"><button type="button" class="btn btn-default bootstrap-touchspin-up" name="button"><i class="md md-add"></i></button></div></div></div><div class="form-group col-md-3 col-xs-12"><button class="btn btn-sm  btn-danger btn-custom add_to_cart" id="'
													+doc[i]._id +
													'"style="float:right">Add</button></div></div></td>');
						               $('#table-body').append(tr);
			           }
			         },
			         // handle a non-successful response
			         error : function(xhr,errmsg,err) {
			             $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
			                 " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
			             console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
			         }
			     });
    };
		if($(window).scrollTop() > ($(document).height() - $(window).height())/2 && isSearch==1) {
					 // ajax call get data from server and append to the div
					 s_page++;
					 s_url = '/other_product/search/'+s_page+'/?url='+encodeURIComponent(a_url);
					 $.ajax({
							 url : s_url,
							 type : "GET",
							 dataType:'html',
							 data : {},
							 success : function(json) {
									 console.log("success");
									 var tr;
									 json = json.replace(/&quot;/ig,'"');
									 json = JSON.parse(json);
									 doc = json.response.docs;
									 for (var i = 0; i < doc.length; i++) {
										 tr = $('<tr/>');
									 url = "/other_product/details/"+ doc[i]._id;
									 tr.append('<td><div class="in-pr-image"><img src="'+
											(doc[i].current_image ? doc[i].current_image : '')+
									 '" alt="'+doc[i].brand_name+'" /></div></td>');
									 tr.append('<td><div class="in-pr-category">' +
												(doc[i].category ? doc[i].category : '')+
										'</div><div class="in-pr-name"><a href="'+url+ '">'+
											 (doc[i].brand_name ? doc[i].brand_name : '')+
									 '</a></div><div class="in-pr-form">'+
												(doc[i].flavor ? doc[i].flavor : '')+
										'</div><div class="in-pr-manufacturer">'+
												(doc[i].category_1 ? doc[i].category_1 : '')+
												(doc[i].category_2 ? doc[i].category_2 : '')+
												(doc[i].category_3 ? doc[i].category_3 : '')+
										'</div></td>');
									 tr.append('<td><div class="in-pr-price hidden">'+
											(doc[i].mrp ? doc[i].mrp : '')+
										'</td></a>');
										tr.append('<td><div class="in-pr-qty"><div class="row"><div class="col-md-9 col-sm-9 col-xs-12"><div class="row"><div class="col-md-4 col-sm-4 col-xs-4"><button type="button" class="btn btn-default bootstrap-touchspin-down" name="button"><i class="md md-remove"></i></button></div><div class="col-md-4 col-sm-4 col-xs-4 quantity"><input class="form-group" type="text" value="5"></div>	<div class="col-md-4 col-sm-4 col-xs-4"><button type="button" class="btn btn-default bootstrap-touchspin-up" name="button"><i class="md md-add"></i></button></div></div></div><div class="form-group col-md-3 col-xs-12"><button class="btn btn-sm  btn-danger btn-custom add_to_cart" id="'
											+doc[i]._id +
											'"style="float:right">Add</button></div></div></td>');
									 $('#table-body').append(tr);
						 }
					 },
					 // handle a non-successful response
					 error : function(xhr,errmsg,err) {
							 $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
									 " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
							 console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
					 }
			 });
};
});
$('body').on('click', '.add_to_cart', function () {
// $('.add_to_cart').click(function(e){
	p_id = this.id;
	quantity = $(this).parent().parent().find("input").val();
	$.ajax({
			url : '/other_product/submit_form/'+p_id+'/'+quantity.toString(),
			type : "GET",
			dataType:'html',
			data : {},
			success : function(json) {
				console.log("success");
				$('#'+p_id).html("");
				$('#'+p_id).addClass('btn-danger');
				$('#'+p_id).removeClass("btn-default");
				$('#'+p_id).append('<i class="fa fa-cart-plus"></i><span id="cart-badge" class="label label-pill label-danger ">'+quantity+'</span>');
				$('#cart-badge').text("");
				$('#cart-badge').text("{{ request.cart.count }}");
			},
			// handle a non-successful response
			error : function(xhr,errmsg,err) {
					$('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
							" <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
					console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
					if (xhr.status == 200){
						alert("Added to cart!");
					};
			}
	});
});
$('body').on('click', '.bootstrap-touchspin-down', function () {
// $('.bootstrap-touchspin-down').click(function(){
	quantity = parseInt($(this).parent().parent().find("input").val());
	if (quantity>0)
	{
		$(this).parent().parent().find("input").val(quantity-1);
	}
});
$('body').on('click', '.bootstrap-touchspin-up', function () {
// $('.bootstrap-touchspin-up').click(function(){
	quantity = parseInt($(this).parent().parent().find("input").val());
	if (quantity>0)
	{
		$(this).parent().parent().find("input").val(quantity+1);
	}
});

</script>
