{% extends "base.html" %}

{% load bootstrap_form from bootstrap3 %}
<!-- { load discounted_price_range price_difference from discount %} -->
{% load i18n %}
<!-- { load gross from prices_i18n %} -->
{% load markdown from markdown %}
<!-- { load price_range from price_ranges %} -->
{% load static from staticfiles %}

{% block title %}{{ response.brand_name }} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'other_product:index' %}">All Products</a></li>
    <li class="active">{{ response.brand_name }}</li>
{% endblock breadcrumb %}

{% block outercontent %}
<div itemscope itemtype="http://schema.org/Product">
    <div class="row">
        <div class="col-sm-6 col-sm-push-6">
            <h1 itemprop="name">
                {{ response.brand_name }} - {{ response.flavor }}
            </h1>
                <p class="lead" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                      <span class="price">{% if response.mrp %}{{ response.mrp }}{% else %}N/A {% endif %}</span>               </p>
            <hr>
            <div itemprop="description">
              {% if response.User_Guide %}
              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#user_guid">User Guid</button>
              {% endif %}
              {% if response.Buyer_Guide %}
              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#buyer_guid">Buyers Guid</button>
              {% endif %}
              {% if response.User_Guide %}
              <div class="modal fade" id="user_guid" role="dialog">
                <div class="modal-dialog modal-lg">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">User Guid</h4>
                    </div>
                    <div class="modal-body">
                      <p>{{ response.User_Guide|safe }}</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
              </div>
              {% endif %}
              {% if response.Buyer_Guide %}
              <div class="modal fade" id="buyer_guid" role="dialog">
                <div class="modal-dialog modal-lg">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Buyers Guid</h4>
                    </div>
                    <div class="modal-body">
                      <p>{{ response.Buyer_Guide|safe }}</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
              </div>
              {% endif %}

                {% if response.product_details %}<h3>Product Details</h3>{{ response.product_details }}{% endif %}
            </div>
            <!-- { if product.is_in_stock %} -->
                {% block orderform %}
                <form role="form" class="product-form form-vertical" method="post" action=".">
                    {% csrf_token %}
                    {% bootstrap_form form %}

                    <div class="form-group">
                        <button class="btn btn-lg btn-block btn-primary">
                            {% trans "Add to cart" %}
                        </button>
                    </div>
                </form>
                {% endblock %}
            <!-- { else %}
                <p class="alert alert-warning">{ trans "This product is currently <strong>unavailable</strong>." %}</p>
            { endif %} -->

            <hr>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
          <div class="in-pr-detail-img">
            <img src="{{ response.current_image }}" alt="" />
          </div>
        </div>
    </div>

        <!-- { with images=product.images.all %}
        <div class="col-sm-6 col-sm-pull-6">
            <div id="product-carousel" class="carousel slide panel panel-default hidden-xs" data-ride="carousel">
                <div class="carousel-inner">
                    { for image in images %}
                    <div class="item{ if forloop.first %} active{ endif %}">
                        <a href="#" data-toggle="modal" data-target="#modal-{ forloop.counter }}">
                            <img class="img-responsive" src="{ image.image.crop.750x750 }}" alt="">
                        </a>
                    </div>
                    { empty %}
                        <div class="item active">
                            <img src="{ static 'images/product-image-placeholder.png' %}" alt="" class="img-responsive">
                        </div>
                    { endfor %}
                </div>

                { for image in images %}
                <div class="modal fade" id="modal-{ forloop.counter }}"
                     tabindex="-1" role="dialog" aria-labelledby="myModalLabel{ forloop.counter }}" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel{ forloop.counter }}">{ product }}</h4>
                            </div>

                            <div class="modal-body">
                                <img class="img-responsive" src="" data-src="{ image.image.url }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                { endfor %}
            </div>

            <div class="product-gallery row">
                { for image in images %}
                <a href="{ image.image.url }}" target="_blank" class="product-gallery-item col-xs-6 col-md-3">
                    <img class="thumbnail img-responsive" src="{ image.image.crop.280x280 }}" alt="">
                </a>
                { endfor %}
            </div>
        </div>
        { endwith %}
    </div>
</div> -->
{% endblock outercontent %}
