<!-- <cript src="http://code.jquery.com/jquery.js"></script> -->
{% load bootstrap_form from bootstrap3 %}
<!-- <link href="<?php echo base_url('bootstrap/css/bootstrap-multiselect.css'); ?>" rel="stylesheet" type="text/css">
<link href="<?php echo base_url('bootstrap/css/bootstrap.min.css'); ?>" rel="stylesheet" type="text/css">
<script type="text/javascript" src="<?php echo base_url('bootstrap/js/bootstrap.min.js'); ?>"></script> -->

<!-- Build your select: -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<!-- <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css"
    rel="stylesheet" type="text/css" /> -->
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
<link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css"
    rel="stylesheet" type="text/css" />
<script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"
    type="text/javascript"></script>

  <div class="in-search-card">
      Name
      <input id="search-name" type="input" name="search_word">
  </div>
  <div class="in-search-card">
      Category
      <br><select class="multiselect" multiple="multiple" name="search-category" id="search-category">
        <option value="Ayurveda &amp.. Herbs" selected="">Ayurveda &amp.. Herbs</option>
      	<option value="Fitness">Fitness</option>
      	<option value="Nutrition">Nutrition</option>
      	<option value="Sports">Sports</option>
      	<option value="Beauty">Beauty</option>
      	<option value="Diabetes">Diabetes</option>
      	<option value="Health Devices">Health Devices</option>
      	<option value="Parenting">Parenting</option>
      	<option value="Vitamins &amp.. Supplements">Vitamins &amp.. Supplements</option>
      	<option value="Eye">Eye</option>
      	<option value="Health Food &amp.. Drinks">Health Food &amp.. Drinks</option>
      	<option value="Wellness">Wellness</option>
      	<option value="Personal Care">Personal Care</option>
      </select>
  </div>
  <div class="in-search-card">
    Category 1
    <br><select class="multiselect" multiple="multiple" name="search-category1" id="search-category1" >
    	<option value="Herbal Extracts" selected>Herbal Extracts</option>
    	<option value="Single Herbs">Single Herbs</option>
    	<option value="Ayurvedic Herbs">Ayurvedic Herbs</option>
    	<option value="Herbal Oils">Herbal Oils</option>
    	<option value="Fitness Accessories">Fitness Accessories</option>
    	<option value="Weight Loss Equipment">Weight Loss Equipment</option>
    	<option value="Fitness Equipment">Fitness Equipment</option>
    	<option value="Sports Nutrition">Sports Nutrition</option>
    	<option value="Apparel">Apparel</option>
    	<option value="Sports Equipment">Sports Equipment</option>
    	<option value="Footwear">Footwear</option>
    	<option value="Adventure Sports">Adventure Sports</option>
    	<option value="Leisure Games">Leisure Games</option>
    	<option value="Face Care">Face Care</option>
    	<option value="Hair Care">Hair Care</option>
    	<option value="Bath &amp.. Body">Bath &amp.. Body</option>
    	<option value="Make Up">Make Up</option>
    	<option value="Monitoring Devices">Monitoring Devices</option>
    	<option value="Foot Care">Foot Care</option>
    	<option value="Medical Care">Medical Care</option>
    	<option value="Blood Pressure">Blood Pressure</option>
    	<option value="Pain Management">Pain Management</option>
    	<option value="Respiratory Care">Respiratory Care</option>
    	<option value="Clinical Products">Clinical Products</option>
    	<option value="Bath &amp.. Skin Care">Bath &amp.. Skin Care</option>
    	<option value="Feeding &amp.. Nursing">Feeding &amp.. Nursing</option>
    	<option value="Toys &amp.. More">Toys &amp.. More</option>
    	<option value="Health &amp.. Safety">Health &amp.. Safety</option>
    	<option value="Mom Essentials">Mom Essentials</option>
    	<option value="Diapering">Diapering</option>
    	<option value="Specialty Supplements">Specialty Supplements</option>
    	<option value="Antioxidants">Antioxidants</option>
    	<option value="Multivitamins">Multivitamins</option>
    	<option value="Vitamins">Vitamins</option>
    	<option value="Omega Fatty Acids">Omega Fatty Acids</option>
    	<option value="Minerals">Minerals</option>
    	<option value="Fertility Supplements">Fertility Supplements</option>
    	<option value="Accessories">Accessories</option>
    	<option value="Sunglasses">Sunglasses</option>
    	<option value="Eyeglasses">Eyeglasses</option>
    	<option value="Breakfast / Snacks">Breakfast / Snacks</option>
    	<option value="Meal Replacement">Meal Replacement</option>
    	<option value="Energy Drinks / Powders">Energy Drinks / Powders</option>
    	<option value="Cooking Oils &amp.. Sprays">Cooking Oils &amp.. Sprays</option>
    	<option value="Tea">Tea</option>
    	<option value="Juices">Juices</option>
    	<option value="Family Nutrition">Family Nutrition</option>
    	<option value="Sexual Wellness">Sexual Wellness</option>
    	<option value="Skin Care">Skin Care</option>
    	<option value="General Care">General Care</option>
    	<option value="Body Shaping">Body Shaping</option>
    	<option value="Elderly Care">Elderly Care</option>
    	<option value="Miscellaneous">Miscellaneous</option>
    </select>
  </div>
  <div class="in-search-card">
    Category 2<br>
    <select class="multiselect" multiple="multiple" name="search-category2" id="search-category2" >
      <option value="Apple Cider Vinegar" selected>Apple Cider Vinegar</option>
      	<option value="Green Tea Extract">Green Tea Extract</option>
      	<option value="Green Coffee Bean Extract">Green Coffee Bean Extract</option>
      	<option value="Garcinia">Garcinia</option>
      	<option value="Wheat Grass">Wheat Grass</option>
      	<option value="Raspberry Ketones">Raspberry Ketones</option>
      	<option value="Guggul">Guggul</option>
      	<option value="Triphala">Triphala</option>
      	<option value="Saw Palmetto">Saw Palmetto</option>
      	<option value="Horny Goat Weed">Horny Goat Weed</option>
      	<option value="Other Herbal Supplements">Other Herbal Supplements</option>
      	<option value="Ginseng">Ginseng</option>
      	<option value="Spirulina">Spirulina</option>
      	<option value="Aloe Vera">Aloe Vera</option>
      	<option value="Ginkgo Biloba">Ginkgo Biloba</option>
      	<option value="Milk Thistle">Milk Thistle</option>
      	<option value="Tribulus">Tribulus</option>
      	<option value="Turmeric">Turmeric</option>
      	<option value="Fenugreek">Fenugreek</option>
      	<option value="Ashwagandha">Ashwagandha</option>
      	<option value="Musli">Musli</option>
      	<option value="Stevia">Stevia</option>
      	<option value="Neem">Neem</option>
      	<option value="Shilajit">Shilajit</option>
      	<option value="Garlic">Garlic</option>
      	<option value="Brahmi / Shankhpushpi">Brahmi / Shankhpushpi</option>
      	<option value="Echinacea Extract">Echinacea Extract</option>
      	<option value="Evening Primrose Oil">Evening Primrose Oil</option>
      	<option value="Cranberry">Cranberry</option>
      	<option value="Valerian Root">Valerian Root</option>
      	<option value="Astragalus">Astragalus</option>
      	<option value="Kelp">Kelp</option>
      	<option value="Cinnamon">Cinnamon</option>
      	<option value="Gymnema">Gymnema</option>
      	<option value="St. John's Wort">St. John's Wort</option>
      	<option value="Licorice">Licorice</option>
      	<option value="Horse Chestnut">Horse Chestnut</option>
      	<option value="Arjuna">Arjuna</option>
      	<option value="Tulsi">Tulsi</option>
      	<option value="Ginger">Ginger</option>
      	<option value="Guduchi">Guduchi</option>
      	<option value="Ashoka">Ashoka</option>
      	<option value="Maca">Maca</option>
      	<option value="Chyawanprash">Chyawanprash</option>
      	<option value="Rehabilitation &amp.. Protection Support Gear">Rehabilitation &amp.. Protection Support Gear</option>
      	<option value="Gym Protective Gear">Gym Protective Gear</option>
      	<option value="Gym Balls">Gym Balls</option>
      	<option value="Yoga Accessories">Yoga Accessories</option>
      	<option value="Fitness Mats">Fitness Mats</option>
      	<option value="Twisters">Twisters</option>
      	<option value="Exercise Wheels">Exercise Wheels</option>
      	<option value="Gym Belts">Gym Belts</option>
      	<option value="Aerobic Steppers">Aerobic Steppers</option>
      	<option value="Pilates">Pilates</option>
      	<option value="Ab Trainers">Ab Trainers</option>
      	<option value="Ab Straps">Ab Straps</option>
      	<option value="Medicine Balls">Medicine Balls</option>
      	<option value="Strength Training Equipment">Strength Training Equipment</option>
      	<option value="Free Weights and Gym Rods">Free Weights and Gym Rods</option>
      	<option value="Muscle Building Equipments">Muscle Building Equipments</option>
      	<option value="Aerobics &amp.. General Fitness">Aerobics &amp.. General Fitness</option>
      	<option value="Cardio Vascular Equipments">Cardio Vascular Equipments</option>
      	<option value="Weighing Scales">Weighing Scales</option>
      	<option value="Step Counters/Pedometers">Step Counters/Pedometers</option>
      	<option value="Body Fat Monitors">Body Fat Monitors</option>
      	<option value="Gym Clothing">Gym Clothing</option>
      	<option value="Bottles &amp.. Shakers">Bottles &amp.. Shakers</option>
      	<option value="Heart Rate Monitors">Heart Rate Monitors</option>
      	<option value="Sports &amp.. Fitness Watches">Sports &amp.. Fitness Watches</option>
      	<option value="Fitness Massagers">Fitness Massagers</option>
      	<option value="Proteins">Proteins</option>
      	<option value="Weight Management">Weight Management</option>
      	<option value="Workout Essentials">Workout Essentials</option>
      	<option value="Workout Programs">Workout Programs</option>
      	<option value="Pre/Post Workout">Pre/Post Workout</option>
      	<option value="Accessories">Accessories</option>
      	<option value="Bags">Bags</option>
      	<option value="Volleyball">Volleyball</option>
      	<option value="Badminton">Badminton</option>
      	<option value="Basketball">Basketball</option>
      	<option value="Other Balls">Other Balls</option>
      	<option value="Cricket">Cricket</option>
      	<option value="Squash">Squash</option>
      	<option value="T-Shirts">T-Shirts</option>
      	<option value="Jogging Shoes">Jogging Shoes</option>
      	<option value="Gym Shoes">Gym Shoes</option>
      	<option value="Football">Football</option>
      	<option value="Boxing">Boxing</option>
      	<option value="Golf">Golf</option>
      	<option value="Table Tennis">Table Tennis</option>
      	<option value="Tennis">Tennis</option>
      	<option value="Swimming">Swimming</option>
      	<option value="Skating">Skating</option>
      	<option value="Pool/Billiards">
        <option value="Pool/Billiards</option>
      	<option value="Carrom">Carrom</option>
      	<option value="Football Shoes">Football Shoes</option>
      	<option value="Court Shoes">Court Shoes</option>
      	<option value="Tennis Shoes">Tennis Shoes</option>
      	<option value="Badminton Shoes">Badminton Shoes</option>
      	<option value="Cricket Shoes">Cricket Shoes</option>
      	<option value="Basketball Shoes">Basketball Shoes</option>
      	<option value="Wrestling Shoes">Wrestling Shoes</option>
      	<option value="Boxing Shoes">Boxing Shoes</option>
      	<option value="Tracksuits">Tracksuits</option>
      	<option value="Mask &amp.. Pack">Mask &amp.. Pack</option>
      	<option value="Facial">Facial</option>
      	<option value="Conditioner">Conditioner</option>
      	<option value="Hair Brushes">Hair Brushes</option>
      	<option value="Hair Color">Hair Color</option>
      	<option value="Camisoles">Camisoles</option>
      	<option value="Soap">Soap</option>
      	<option value="Face">Face</option>
      	<option value="Eyes">Eyes</option>
      	<option value="Nails">Nails</option>
      	<option value="Tools">Tools</option>
      	<option value="Lips">Lips</option>
      	<option value="Glucose Meters">Glucose Meters</option>
      	<option value="Slippers">Slippers</option>
      	<option value="Family Care">Family Care</option>
      	<option value="BP Monitors">BP Monitors</option>
      	<option value="Fracture">Fracture</option>
      	<option value="Nebulizers">Nebulizers</option>
      	<option value="Stethoscope Parts">Stethoscope Parts</option>
      	<option value="Dressing Aids">Dressing Aids</option>
      	<option value="Devices">Devices</option>
      	<option value="Creams &amp.. Lotions">Creams &amp.. Lotions</option>
      	<option value="Nipples &amp.. Teats">Nipples &amp.. Teats</option>
      	<option value="School Supplies">School Supplies</option>
      	<option value="Bottles">Bottles</option>
      	<option value="Soaps &amp.. Gels">Soaps &amp.. Gels</option>
      	<option value="Toys">Toys</option>
      	<option value="Sterilisers and Warmers">Sterilisers and Warmers</option>
      	<option value="Apparels">Apparels</option>
      	<option value="Safety Accessories">Safety Accessories</option>
      	<option value="Health Accessories">Health Accessories</option>
      	<option value="Giftsets &amp.. Combos">Giftsets &amp.. Combos</option>
      	<option value="Bath Tubs &amp.. Accessories">Bath Tubs &amp.. Accessories</option>
      	<option value="Bottle Cleaning">Bottle Cleaning</option>
      	<option value="Maternity Belt">Maternity Belt</option>
      	<option value="Baby Kits &amp.. Utensils">Baby Kits &amp.. Utensils</option>
      	<option value="Changing Mats">Changing Mats</option>
      	<option value="Bibs &amp.. Napkins">Bibs &amp.. Napkins</option>
      	<option value="Potty Training">Potty Training</option>
      	<option value="Baby Thermometers">Baby Thermometers</option>
      	<option value="Pacifiers">Pacifiers</option>
      	<option value="Teethers">Teethers</option>
      	<option value="Wipes">Wipes</option>
      	<option value="Protein Shakes">Protein Shakes</option>
      	<option value="Fat Loss Supplements">Fat Loss Supplements</option>
      	<option value="L-Carnitine">L-Carnitine</option>
      	<option value="Acai">Acai</option>
      	<option value="Other Supplements">Other Supplements</option>
      	<option value="Tonalin CLA">Tonalin CLA</option>
      	<option value="Appetite Control">Appetite Control</option>
      	<option value="Multivitamins - Men">Multivitamins - Men</option>
      	<option value="Amino Acids">Amino Acids</option>
      	<option value="Vitamin B">Vitamin B</option>
      	<option value="Vitamin D">Vitamin D</option>
      	<option value="Salmon Oil">Salmon Oil</option>
      	<option value="Calcium/Magnesium">Calcium/Magnesium</option>
      	<option value="Iron">Iron</option>
      	<option value="Beta-Carotene">Beta-Carotene</option>
      	<option value="Multivitamins - Elderly">Multivitamins - Elderly</option>
      	<option value="Multivitamins - General">Multivitamins - General</option>
      	<option value="Multivitamins - Women">Multivitamins - Women</option>
      	<option value="Vitamin C">Vitamin C</option>
      	<option value="Fish Oil">Fish Oil</option>
      	<option value="Glucosamine Supplements">Glucosamine Supplements</option>
      	<option value="Omega 3-6-9">Omega 3-6-9</option>
      	<option value="Alpha Lipoic Acid">Alpha Lipoic Acid</option>
      	<option value="Omega 3">Omega 3</option>
      	<option value="Vitamin E">Vitamin E</option>
      	<option value="Astaxanthin">Astaxanthin</option>
      	<option value="CoQ 10">CoQ 10</option>
      	<option value="Resveratrol">Resveratrol</option>
      	<option value="Melatonin">Melatonin</option>
      	<option value="Probiotics">Probiotics</option>
      	<option value="Flax">Flax</option>
      	<option value="Multivitamins - Children">Multivitamins - Children</option>
      	<option value="Zinc">Zinc</option>
      	<option value="Cod Liver Oil">Cod Liver Oil</option>
      	<option value="Vitamin A">Vitamin A</option>
      	<option value="Other Antioxidants">Other Antioxidants</option>
      	<option value="Selenium">Selenium</option>
      	<option value="Glutathione">Glutathione</option>
      	<option value="Grape Seed Extract">Grape Seed Extract</option>
      	<option value="Mushroom Combinations">Mushroom Combinations</option>
      	<option value="Lecithin">Lecithin</option>
      	<option value="Lycopene">Lycopene</option>
      	<option value="Water Pills">Water Pills</option>
      	<option value="Vitamin K">Vitamin K</option>
      	<option value="Fertility Supplements for Men">Fertility Supplements for Men</option>
      	<option value="Pill Packs">Pill Packs</option>
      	<option value="Fertility Supplements for Women">Fertility Supplements for Women</option>
      	<option value="Chromium">Chromium</option>
      	<option value="Vintage Sunglass Desirable">Vintage Sunglass Desirable</option>
      	<option value="Mayhem Sunglass MAYS1027">Mayhem Sunglass MAYS1027</option>
      	<option value="Vintage Sunglass Freak col 125">Vintage Sunglass Freak col 125</option>
      	<option value="Vintage Sunglass Desirable col 71">Vintage Sunglass Desirable col 71</option>
      	<option value="Vintage Sunglass Mysterious Girl 135">Vintage Sunglass Mysterious Girl 135</option>
      	<option value="Vintage Sunglass Religion col 151">Vintage Sunglass Religion col 151</option>
      	<option value="Urban Verve Sunglass 82231">Urban Verve Sunglass 82231</option>
      	<option value="Opium Sunglass 1145">Opium Sunglass 1145</option>
      	<option value="Vintage Sunglass Mysterious Girl">Vintage Sunglass Mysterious Girl</option>
      	<option value="Vintage Sunglass Religion">Vintage Sunglass Religion</option>
      	<option value="Vintage Sunglass Sensual X">Vintage Sunglass Sensual X</option>
      	<option value="Vintage Sunglass Sensual X3 col 71">Vintage Sunglass Sensual X3 col 71</option>
      	<option value="Snack/Energy Bars">Snack/Energy Bars</option>
      	<option value="Amway Nutrilite Fiber">Amway Nutrilite Fiber</option>
      	<option value="Herbalife Formula 1 Nutritional Shake Mix">Herbalife Formula 1 Nutritional Shake Mix</option>
      	<option value="Vitamin Shoppe Next Step Fit N Full Shake">Vitamin Shoppe Next Step Fit N Full Shake</option>
      	<option value="Satva Getrim Meal Replacement Milk Shake">Satva Getrim Meal Replacement Milk Shake</option>
      	<option value="ProIN MegaGrain Protein">ProIN MegaGrain Protein</option>
      	<option value="British Nutritions Slim Life">British Nutritions Slim Life</option>
      	<option value="Nutricharge Pro Diet">Nutricharge Pro Diet</option>
      	<option value="Camillotek Optimeal Multinutrient Shake Mix">Camillotek Optimeal Multinutrient Shake Mix</option>
      	<option value="Just Nutrition Meal Replacement">Just Nutrition Meal Replacement</option>
      	<option value="Vitamin Shoppe Next Step-Fit N Full Shake">Vitamin Shoppe Next Step-Fit N Full Shake</option>
      	<option value="Dplus Slimvit">Dplus Slimvit</option>
      	<option value="Nutricharge S&amp..F Nutritional Shake Mix">Nutricharge S&amp..F Nutritional Shake Mix</option>
      	<option value="Biotech Ultra Loss">Biotech Ultra Loss</option>
      	<option value="Camillotek ProStrum">Camillotek ProStrum</option>
      	<option value="Royalway Micromeal Weight Loss Shake">Royalway Micromeal Weight Loss Shake</option>
      	<option value="Vitamin Shoppe Next Step Full Fiber">Vitamin Shoppe Next Step Full Fiber</option>
      	<option value="GNC Lean Shake 25">GNC Lean Shake 25</option>
      	<option value="Green Tea">Green Tea</option>
      	<option value="Acai Juice">Acai Juice</option>
      	<option value="Nutrition for Adults">Nutrition for Adults</option>
      	<option value="Nutrition for Children">Nutrition for Children</option>
      	<option value="Herbal Tea">Herbal Tea</option>
      	<option value="Aloe Vera Juice">Aloe Vera Juice</option>
      	<option value="Other Juices">Other Juices</option>
      	<option value="Other Snacks">Other Snacks</option>
      	<option value="Nutrition for Diabetics">Nutrition for Diabetics</option>
      	<option value="Nutrition for Pregnancy">Nutrition for Pregnancy</option>
      	<option value="Condoms for Men">Condoms for Men</option>
      	<option value="Cleansers">Cleansers</option>
      	<option value="Sunscreen">Sunscreen</option>
      	<option value="Toner">Toner</option>
      	<option value="Fairness Creams &amp.. Oils">Fairness Creams &amp.. Oils</option>
      	<option value="Anti-Aging">Anti-Aging</option>
      	<option value="Acne Blemish Control">Acne Blemish Control</option>
      	<option value="Under-Eye Care">Under-Eye Care</option>
      	<option value="Body Lotion">Body Lotion</option>
      	<option value="Hair Serum">Hair Serum</option>
      	<option value="Hair Oils">Hair Oils</option>
      	<option value="Hair Loss">Hair Loss</option>
      	<option value="Analgesics">Analgesics</option>
      	<option value="Anti-Allergy">Anti-Allergy</option>
      	<option value="Body Shaping Creams &amp.. Oils">Body Shaping Creams &amp.. Oils</option>
      	<option value="Shaping Belts">Shaping Belts</option>
      	<option value="Moisturizer">Moisturizer</option>
      	<option value="Hair Treatment">Hair Treatment</option>
      	<option value="Face Care for Men">Face Care for Men</option>
      	<option value="Scrub">Scrub</option>
      	<option value="Night Treatment">Night Treatment</option>
      	<option value="Amla">Amla</option>
      	<option value="Supports">Supports</option>
      	<option value="Travel Kits">Travel Kits</option>
      	<option value="Feet Care">Feet Care</option>
      	<option value="Nail Care">Nail Care</option>


    </select>
  </div>
<div class="in-search-button">
    <button class="btn btn-danger btn-default" id="search-submit">Search</button>
</div>


<script type="text/javascript">
$('.multiselect').multiselect('refresh');
    $(document).ready(function() {
            $('.multiselect').multiselect();
    });
</script>
