body{
  font-family: 'Raleway', sans-serif;
}

a, a:link, a:visited, a:active {
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #D9534F;
}
a:hover {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #D9534F !important;
}
.green-in-color {
  background-color: #5FBEAA;
  color: #5FBEAA;
}
/*CSS properties of search panel*/
.in-search-bar {
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
}
.in-search-card{
  margin: 15px 0px;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
}
.in-search-card input {
  width: 100%;
  padding: 5px;
  margin: 5px;
  /*border: #bbb;*/
  /*border-style: solid;*/

}
.in-search-card button {
  width: 100%;
  padding: 5px;
  margin: 5px;
}
/*.in-search-card input:hover {
  background-color: #F5F5F5;
  width: 100%;
  padding: 5px;
  margin: 5px;
  /border: #bbb;/
  border-style: solid;
}*/
.in-submit-search {
  right: 0;
  width: 100%;
}

/*CSS propertiess of table rows*/
.in-pr-table {
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;
  padding-left: 15px;
  width: 100%;
}
.in-pr-table th{
  font-size: 18px;
}
/*.in-pr-table td:nth-child(1) {
  width: 35% !important;
}
.in-pr-table td:nth-child(2) {
  width: 35% !important;
}
.in-pr-table td:nth-child(3) {
  width: 20% !important;
}*/
.in-pr-table .in-pr-qty{
  width: 250px !important;
}
.in-pr-table .in-pr-category {
  font-size: 10px;
  line-height: 10px;
  color: #8b8b8b;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 5px;
}
.in-pr-table .in-pr-image {
  height: 65px;
}
.in-pr-table .in-pr-image img{
  height: 100%;
  vertical-align: middle;
  margin-top: 15px;
}
.in-pr-table .in-pr-name {
  font-size: 18px;
  line-height: 28px;
  color: #2e2e2e;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}
.in-pr-table .in-pr-form, .in-pr-manufacturer, .in-pr-price-note {
  font-size: 13px;
  line-height: 15px;
  color: #808080;
  font-weight: 400;
  margin-bottom: 5px;
}
.in-pr-table .in-pr-price {
  vertical-align: middle;
  padding: 25px 0 0 0;
}
.in-pr-table .in-pr-price-note {
  font-size: 13px;
  line-height: 15px;
  color: #808080;
  font-weight: 400;
  vertical-align: middle;
  /*margin-bottom: 5px;*/
}
.in-pr-table .in-pr-qty{
  top: 22px;
  height: 37px;
  line-height: 35px;
  /*width: 100%;*/
  margin-top: : 25px;
  /*margin-left: -1px;*/
  /*display: inline-block;*/
  /*cursor: pointer;*/
  position: relative;
  /*font-size: 12px;*/
  /*text-align: center;*/
  /*user-select: none;*/
  /*-webkit-user-select: none;*/
  /*-moz-user-select: none;*/
}
.in-pr-detail-img {
  width: 100%;
}
.in-pr-detail-img img{
  width: 70%;
}
/*.in-pr-qty-form input{
  width: 100px;
  float: right;
}
.in-pr-qty-form button{
  float: left;;
}
label.checkbox input {
  left: 100px;
  margin-left : 0;
}*/

.in-pr-qty .quantity{
  /*width: 70%;*/
  padding: 0;
  margin: 0;
  /*display: inline-block;*/
}

@media (min-width:1025px)  {
/* tablet, landscape iPad, lo-res laptops ands desktops */

}
.in-pr-qty .quantity input{
  width: 100%;
  left: 21px;
  /*margin-left: 2px;*/
  text-align: center;
  border-radius: 0;
  border: 1px solid #F5F5F5;
  /*height: 34.8px !important;*/
  /*margin-top: -1px !important;*/
  height: 35px !important;
}
.bootstrap-touchspin-up {
  /*width: 100%;*/
  /*padding-left:0 !important;*/
  /*right: 0 !important;*/
  margin-left: -20px !important;
  left:0;
  position: relative;
  margin-bottom: 1px !important;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  width: 92%;
}
.bootstrap-touchspin-down {
  width: 100%;
  /*padding-left:0 !important;*/
  left: 0 !important;
  margin-right:-20px !important;
  margin-top: 1px !important;
  display: inline-block;
  float: right;
}
