<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
{% load static from staticfiles %}
{% load render_bundle from webpack_loader %}

<html lang="en" class="no-js">
    <head>

        <title>{% block title %}Inayo{% endblock %}</title>
        {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" Content="text/html;charset=utf-8"/> <meta content="utf-8" http-equiv="encoding">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="author" content="{% trans "Mirumee Software" %}">

        {% endblock meta %}

        {% render_bundle 'vendor' 'css' %}
        {% render_bundle 'storefront' 'css' %}
        <link rel="shortcut icon" href="{{STATIC_URL}}assets0/images/favicon_1.ico">

    		<title>Ubold - Responsive Admin Dashboard Template</title>

        <!-- Plugins css-->
        <link rel="stylesheet" href="{{ STATIC_URL}}css/inayo.css" charset="utf-8">
        <link href="{{STATIC_URL}}assets0/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet" />
        <link href="{{STATIC_URL}}assets0/plugins/switchery/css/switchery.min.css" rel="stylesheet" />
        <link href="{{STATIC_URL}}assets0/plugins/multiselect/css/multi-select.css"  rel="stylesheet" type="text/css" />
        <link href="{{STATIC_URL}}assets0/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="{{STATIC_URL}}assets0/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
        <link href="{{STATIC_URL}}assets0/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />

        <link href="{{STATIC_URL}}assets0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{{STATIC_URL}}assets0/css/core.css" rel="stylesheet" type="text/css" />
        <link href="{{STATIC_URL}}assets0/css/components.css" rel="stylesheet" type="text/css" />
        <link href="{{STATIC_URL}}assets0/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="{{STATIC_URL}}assets0/css/pages.css" rel="stylesheet" type="text/css" />
        <link href="{{STATIC_URL}}assets0/css/responsive.css" rel="stylesheet" type="text/css" />

        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <script src="{{STATIC_URL}}assets0/js/modernizr.min.js"></script>


        {% block stylesheet %}{% endblock stylesheet %}

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body itemscope itemtype="http://schema.org/WebPage" class="fixed-left">
        {% block header %}
        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
                <div class="text-center">
                    <a href="index.html" class="logo"><i class="icon-magnet icon-c-logo"></i><span>In<span class="text-custom">a</span>yo</span></a>
                    <!-- Image Logo here -->
                    <!--<a href="index.html" class="logo">-->
                        <!--<i class="icon-c-logo"> <img src="assets/images/logo_sm.png" height="42"/> </i>-->
                        <!--<span><img src="assets/images/logo_light.png" height="20"/></span>-->
                    <!--</a>-->
                </div>
            </div>

            <!-- Button mobile view to collapse sidebar menu -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="">
                        <ul class="nav navbar-nav hidden-xs">
                          <li>
                              <a href="{% url 'medicine:index' %}">
                                  Medicines
                              </a>
                          </li>
                          <li>
                              <a href="{% url 'other_product:index' %}">
                                  Other Products
                              </a>
                          </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right pull-right">
                          <li>
                              <a href="{% url "medicine:cart" %}"><i class="fa fa-shopping-cart fa-10x"></i>{% if request.cart %}<span id="cart-badge" class="label label-pill label-danger ">{{ request.cart.count }}</span>{% endif %}</a>
                          </li>
                          {% if user.is_authenticated %}
                            <li class="dropdown top-menu-item-xs">
                                <a href="" class="dropdown-toggle profile waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">{{request.user}} </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url "profile:details" %}"><i class="ti-user m-r-10 text-custom"></i> Profile</a></li>
                                    <li><a href="{% url "profile:orders" %}"><i class="ti-shopping-cart m-r-10 text-custom"></i> Orders</a></li>
                                    <li><a href="{% url "dashboard:index" %}"><i class="ti-home m-r-10 text-custom"></i> Dashboard</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{% url 'registration:logout' %}"><i class="ti-power-off m-r-10 text-danger"></i> Logout</a></li>
                                </ul>
                            </li>
                            {% else %}
                            <li>
                                <a href="{% url "registration:login" %}">Sign in</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <!-- Top Bar End -->
        {% endblock %}
        {% if messages %}
        <div class="container">
            {% for message in messages %}
            <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
            {% block outerbreadcrumb %}
            <ul class="breadcrumb" itemprop="breadcrumb">
                {% block breadcrumb %}
                <li>
                    <a href="/">{% trans "Home" %}</a>
                </li>
                {% endblock breadcrumb %}
            </ul>
            {% endblock outerbreadcrumb %}
            {% block outercontent %}
            <div class="row">
                <div class="col-sm-12">
                    {% block content %}
                        <!-- <div class="row">
                            {% include "category/_items.html" %}
                        </div> -->
                    {% endblock content %}
                </div>
            </div>
            {% endblock outercontent %}
        <!-- </div> -->
        {% block footer %}
            <footer>
                <div class="container">
                    <p class="pull-right">
                        &copy; Inayo Software 2016
                    </p>
                </div>
            </footer>
        {% endblock %}

        <script>
             var resizefunc = [];
         </script>

         <!-- jQuery  -->
         <script src="{{STATIC_URL}}assets0/js/jquery.min.js"></script>
         <script src="{{STATIC_URL}}assets0/js/bootstrap.min.js"></script>
         <script src="{{STATIC_URL}}assets0/js/detect.js"></script>
         <script src="{{STATIC_URL}}assets0/js/fastclick.js"></script>
         <script src="{{STATIC_URL}}assets0/js/jquery.slimscroll.js"></script>
         <script src="{{STATIC_URL}}assets0/js/jquery.blockUI.js"></script>
         <script src="{{STATIC_URL}}assets0/js/waves.js"></script>
         <script src="{{STATIC_URL}}assets0/js/wow.min.js"></script>
         <script src="{{STATIC_URL}}assets0/js/jquery.nicescroll.js"></script>
         <script src="{{STATIC_URL}}assets0/js/jquery.scrollTo.min.js"></script>

         <script src="{{STATIC_URL}}assets0/js/jquery.core.js"></script>
         <script src="{{STATIC_URL}}assets0/js/jquery.app.js"></script>

         {% block footer_scripts %}
             {% render_bundle 'vendor' 'js' %}
             {% render_bundle 'storefront' 'js' %}
         {% endblock footer_scripts %}
    </body>
</html>
