<!DOCTYPE html>
{% extends "base.html" %}
{% load gross from prices_i18n %}
<!--  load slice from shop %} -->
{% load staticfiles %}
{ load bootstrap_pagination from bootstrap3 %}

{% block title %}Inayo | Dashboard{% endblock %}

{% block breadcrumb %}
  <!-- <li>
    <a href="#">Home</a>
  </li>
  <li>
    <span> Dashboard</span>
  </li> -->
{% endblock breadcrumb %}

{% block content %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <!-- <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css"
      rel="stylesheet" type="text/css" /> -->
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <div class="left side-menu">
      <div class="sidebar-inner slimscrollleft">
          <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
              <li class="text-muted menu-title">Navigation</li>
              {% block left_navigation %}
              {% if request.user.is_superuser %}
                <li class="has_sub">
                    <a href="{% url "dashboard:index" %}" class="waves-effect active"><i class="ti-home"></i> <span> Dashboard </span> </a>
                </li>
                <li class="has_sub">
                    <a href="{% url "dashboard:orders" %}" class="waves-effect"><i class="ti-shopping-cart"></i> <span> Orders </span> </a>
                </li>
                <li class="has_sub">
                    <a href="{% url "dashboard:managers" %}" class="waves-effect"><i class="ti-user"></i> <span> Managers </span> </a>
                </li>
                <li class="has_sub">
                    <a href="{% url "dashboard:stores" %}" class="waves-effect"><i class="md md-account-child"></i> <span> Stores </span> </a>
                </li>
                <li class="has_sub">
                    <a href="#" class="waves-effect"><i class="ti-menu-alt"></i> <span> Products </span> </a>
                </li>
              {% else %}
              <li class="has_sub">
                  <a href="{% url "dashboard:index" %}" class="waves-effect active"><i class="ti-home"></i> <span> Dashboard </span> </a>
              </li>
              <li class="has_sub">
                  <a href="{% url "dashboard:orders" %}" class="waves-effect"><i class="ti-shopping-cart"></i> <span> Orders </span> </a>
              </li>
              <li class="has_sub">
                  <a href="{% url "dashboard:managers" %}" class="waves-effect"><i class="ti-user"></i> <span> Managers </span> </a>
              </li>
              <li class="has_sub">
                  <a href="{% url "dashboard:employees" %}" class="waves-effect"><i class="md md-account-child"></i> <span> Employees </span> </a>
              </li>
              <li class="has_sub">
                  <a href="#" class="waves-effect"><i class="ti-menu-alt"></i> <span> Products </span> </a>
              </li>
              {% endif %}
              {% endblock left_navigation %}
            </ul>
          </div>
      </div>
    </div>
    {% block page_content %}
    {% endblock page_content %}
  {% endblock content %}
{% for item in orders %}
    { y:{{ item.created|date:"Y" }} , a:{{item.total_net.net}} }{% if not forloop.last %},{% endif %}
{% endfor %}
