<!DOCTYPE html>
{% extends "inayo/dashboard/base.html" %}
{% load i18n %}
{% load gross from prices_i18n %}
<!--  load slice from shop %} -->
{% load staticfiles %}

{% block title %}Inayo | Dashboard{% endblock %}

{% block breadcrumb %}
  <!-- <li>
    <a href="#">Home</a>
  </li>
  <li>
    <span> Dashboard</span>
  </li> -->
{% endblock breadcrumb %}
{% block left_navigation %}
{% if request.user.is_superuser %}
  <li class="has_sub">
      <a href="{% url "dashboard:index" %}" class="waves-effect"><i class="ti-home"></i> <span> Dashboard </span> </a>
  </li>
  <li class="has_sub">
      <a href="{% url "dashboard:orders" %}" class="waves-effect"><i class="ti-shopping-cart"></i> <span> Orders </span> </a>
  </li>
  <li class="has_sub">
      <a href="{% url "dashboard:managers" %}" class="waves-effect"><i class="ti-user"></i> <span> Managers </span> </a>
  </li>
  <li class="has_sub">
      <a href="{% url "dashboard:stores" %}" class="waves-effect"><i class="md md-account-child"></i> <span> Stores </span> </a>
  </li>
  <li class="has_sub">
      <a href="#" class="waves-effect"><i class="ti-menu-alt"></i> <span> Products </span> </a>
  </li>
{% else %}
<li class="has_sub">
    <a href="{% url "dashboard:index" %}" class="waves-effect"><i class="ti-home"></i> <span> Dashboard </span> </a>
</li>
<li class="has_sub">
    <a href="{% url "dashboard:orders" %}" class="waves-effect"><i class="ti-shopping-cart"></i> <span> Orders </span> </a>
</li>
<li class="has_sub">
    <a href="{% url "dashboard:managers" %}" class="waves-effect"><i class="ti-user"></i> <span> Managers </span> </a>
</li>
<li class="has_sub">
    <a href="{% url "dashboard:employees" %}" class="waves-effect active"><i class="md md-account-child"></i> <span> Employees </span> </a>
</li>
<li class="has_sub">
    <a href="#" class="waves-effect"><i class="ti-menu-alt"></i> <span> Products </span> </a>
</li>
{% endif %}
{% endblock left_navigation %}
{% block page_content %}
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Orders</h4><br>
                </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <div class="card-box">
                  <div class="table-responsive">
                            <table class="table table-actions-bar">
                              <thead>
                                  <tr>
                                    <tr>
                                        <th>
                                            {% trans "Email" %}
                                        </th>
                                    </tr>
                                  </tr>
                              </thead>

                              <tbody>
                                {% for emp in employees %}
                                    <tr>
                                        <td>
                                            {{ emp.email }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                </div>

                </div> <!-- end col -->


            </div>





        </div> <!-- container -->

    </div> <!-- content -->
    <script>
        var resizefunc = [];
    </script>
{% endblock page_content %}
