<!DOCTYPE html>
{% extends "inayo/dashboard/base.html" %}
{% load gross from prices_i18n %}
<!--  load slice from shop %} -->
{% load staticfiles %}
{% block page_content %}
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">
                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">

                        <h4 class="page-title">Dashboard</h4>
                        <p class="text-muted page-title-alt">Welcome to Inayo admin panel !</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="widget-panel widget-style-2 bg-white">
                            <i class="md md-attach-money text-primary"></i>
                            <h2 class="m-0 text-dark counter font-600">5056</h2>
                            <div class="text-muted m-t-5">Revenue</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="widget-panel widget-style-2 bg-white">
                            <i class="md md-add-shopping-cart text-pink"></i>
                            <h2 class="m-0 text-dark counter font-600">1256</h2>
                            <div class="text-muted m-t-5">Orders</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="widget-panel widget-style-2 bg-white">
                            <i class="md md-store-mall-directory text-info"></i>
                            <h2 class="m-0 text-dark counter font-600">18</h2>
                            <div class="text-muted m-t-5">Stores</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="widget-panel widget-style-2 bg-white">
                            <i class="md md-account-child text-custom"></i>
                            <h2 class="m-0 text-dark counter font-600">85</h2>
                            <div class="text-muted m-t-5">Sellers</div>
                        </div>
                    </div>
                </div>





                <div class="row">
                	<div class="col-lg-12">
                		<div class="card-box">
                			<h4 class="text-dark header-title m-t-0">Total Orders</h4>

                			<div class="row">
                				<div class="col-md-12">
                					<div class="text-center">
                                        <div id="selector" class="btn-group">
                                          <hr/>
                                          <button class="fillte btn btn-default btn-custom" data-type="week">Last Week</button>
                                          <button class="filter btn btn-default btn-custom" data-type="month">Last Month</button>
                                          <button class="filter btn btn-default btn-custom" data-type="quater">Last Quater</button>
                                          <button class="filter btn btn-default btn-custom" data-type="six_months">Last 6 Months</button>
                                          <button class="filter btn btn-default btn-custom" data-type="year">Last Year</button>
                                          <button class="filter btn btn-default btn-custom" data-type="five_years">Last 5 years</button>
                                        </div>
        							</div>
                                    <div id="line-chart" style="height: 300px;"><h3 style="text-align: center;"></h3>
                                    </div>
                				</div>
                			</div>
                			<!-- end row -->
                		</div>
                  </div>
                </div>
                <!-- end row -->

                <div class="row">
                	<div class="col-lg-6">
                		<div class="card-box">
                            <a href="{% url "dashboard:orders" %}" class="pull-right btn btn-default btn-sm waves-effect waves-light">View All</a>
                			<h4 class="text-dark header-title m-t-0">Recent Orders</h4>
                			<p class="text-muted m-b-30 font-13">
						Your awesome text goes here.
					</p>

                			<div class="table-responsive">
                                <table class="table table-actions-bar">
                                    <thead>
                                        <tr>
                                            <th>Order Number</th>
                                            <th>Status</th>
                                            <th>Order Date</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      {%for item in ten_orders%}
                                        <tr>
                                            <td><a href="{{ item.get_absolute_url }}">{{item}}</a></td>
                                            <td>{{item.status}} </td>
                                            <td>{{item.created|date:"d/m/y"}}</td>
                                            <td>{% gross item.get_total %}</td>
                                        </tr>
                                      {%endfor%}
                                    </tbody>
                                </table>
                            </div>

                		</div>
                	</div> <!-- end col -->


                    <div class="col-lg-6">
                		<div class="card-box">
                            <a href="{% url "dashboard:stores" %}" class="pull-right btn btn-default btn-sm waves-effect waves-light">View All</a>
                			<h4 class="text-dark header-title m-t-0">Store</h4>
                			<p class="text-muted m-b-30 font-13">
						Your awesome text goes here.
					</p>

                			<div class="table-responsive">
                                <table class="table table-actions-bar">
                                    <thead>
                                        <tr>
                                            <th>Store</th>
                                            <th>Designation</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in ten_stores %}
                                        <tr>
                                            <td>{{item}}</td>
                                            <td>
                                              {% if item.is_superuser %}
                                                Admin
                                              {% elif item.is_store_manager %}
                                                Store Manager
                                              {% elif item.is_manager  %}
                                                Manager
                                              {% else %}
                                                Store
                                              {% endif %}
                                            </td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>

                		</div>
                	</div> <!-- end col -->



                </div>



            </div> <!-- container -->

        </div> <!-- content -->
    </div>
        <footer class="footer text-right">
            © 2016. All rights reserved.
        </footer>



<script>
    var resizefunc = [];
</script>


<script src="{{STATIC_URL}}assets0/plugins/morris/morris.min.js"></script>
<script src="{{STATIC_URL}}assets0/plugins/raphael/raphael-min.js"></script>


<script src="{{STATIC_URL}}assets0/pages/jquery.dashboard_ecommerce.js"></script>
<script type="text/javascript">
last_year = [];
by_month = {};
{% regroup last_year_orders by created|date:"c" as objects_by_month %}
{% for group in objects_by_month %}
    by_month['a']="{{ group.grouper }}";
    by_month['y']=eval({% for object in group.list %}
        {{ object.total_net.net }}+
    {% endfor %} 0);
    last_year.push(by_month);
{% endfor %}

last_five_year = [];
by_month = {};
{% regroup last_five_year_orders by created|date:"Y" as objects_by_month %}
{% for group in objects_by_month %}
    by_month['a']='{{ group.grouper }}';
    by_month['y']=eval({% for object in group.list %}
        {{ object.total_net.net }}+
    {% endfor %} 0);
    last_five_year.push(by_month);
{% endfor %}

last_quater = [];
by_month = {};
{% regroup last_quater_orders by created|date:"c" as objects_by_month %}
{% for group in objects_by_month %}
    by_month['a']="{{ group.grouper }}";
    by_month['y']=eval({% for object in group.list %}
        {{ object.total_net.net }}+
    {% endfor %} 0);
    last_quater.push(by_month);
{% endfor %}

last_week = [];
by_month = {};
{% regroup last_week_orders by created|date:"c" as objects_by_month %}
{% for group in objects_by_month %}
    by_month['a']='{{ group.grouper }}';
    by_month['y']=eval({% for object in group.list %}
        {{ object.total_net.net }}+
    {% endfor %} 0);
    last_week.push(by_month);
{% endfor %}

last_month = [];
by_month = {};
{% regroup last_month_orders by created|date:"c" as objects_by_month %}
{% for group in objects_by_month %}
    by_month['a']='{{ group.grouper }}';
    by_month['y']=eval({% for object in group.list %}
        {{ object.total_net.net }}+
    {% endfor %} 0);
    last_month.push(by_month);
{% endfor %}

last_six_months= [];
by_month = {};
{% regroup last_six_months_orders by created|date:"c" as objects_by_month %}
{% for group in objects_by_month %}
    by_month['a']="{{ group.grouper }}";
    by_month['y']=eval({% for object in group.list %}
        {{ object.total_net.net }}+
    {% endfor %} 0);
    last_six_months.push(by_month);
{% endfor %}

jQuery(function($) {
    $('button.filter').on('click', function(e) {
        $('#line-chart').empty();
        var type = $(this).data('type')

        , month = last_month

        , week = last_week

        , year = last_year
        ,quater = last_quater
        ,six_months = last_six_months
        ,five_years =last_five_year
        , data = {
            month: month,
            week: week,
            year: year,
            quater: quater,
            six_months: six_months,
            five_years: five_years
            }

        , line = new Morris.Line({
            element: 'line-chart',
            resize: true,
            data: data[type],
            xkey: 'y',
            ykeys: ['a'],
            labels: ['Total Price', 'Time'],
            lineColors: ['#3c8dbc', '#3c8dbc'],
            hideHover: 'auto'
        })
        ;

    });

});
var i = 0;
new Morris.Line({
  // ID of the element in which to draw the chart.
  element: 'line-chart',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: last_week,
  // The name of the data record attribute that contains x-values.
  xkey: 'a',
  // A list of names of data record attributes that contain y-values.
  ykeys: ['y'],
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels: ['Value']
});
</script>
{% endblock page_content %}
