<!DOCTYPE html>
{% extends "inayo/dashboard/base.html" %}
{% load i18n %}
{% load gross from prices_i18n %}
<!--  load slice from shop %} -->
{% load staticfiles %}
{ load bootstrap_pagination from bootstrap3 %}

{% block title %}Inayo | Dashboard{% endblock %}

{% block breadcrumb %}
  <!-- <li>
    <a href="#">Home</a>
  </li>
  <li>
    <span> Dashboard</span>
  </li> -->
{% endblock breadcrumb %}
{% block left_navigation %}
{% if request.user.is_superuser %}
  <li class="has_sub">
      <a href="{% url "dashboard:index" %}" class="waves-effect"><i class="ti-home"></i> <span> Dashboard </span> </a>
  </li>
  <li class="has_sub">
      <a href="{% url "dashboard:orders" %}" class="waves-effect"><i class="ti-shopping-cart"></i> <span> Orders </span> </a>
  </li>
  <li class="has_sub">
      <a href="{% url "dashboard:managers" %}" class="waves-effect active"><i class="ti-user"></i> <span> Managers </span> </a>
  </li>
  <li class="has_sub">
      <a href="{% url "dashboard:stores" %}" class="waves-effect"><i class="md md-account-child"></i> <span> Stores </span> </a>
  </li>
  <li class="has_sub">
      <a href="#" class="waves-effect"><i class="ti-menu-alt"></i> <span> Products </span> </a>
  </li>
{% else %}
<li class="has_sub">
    <a href="{% url "dashboard:index" %}" class="waves-effect active"><i class="ti-home"></i> <span> Dashboard </span> </a>
</li>
<li class="has_sub">
    <a href="{% url "dashboard:orders" %}" class="waves-effect"><i class="ti-shopping-cart"></i> <span> Orders </span> </a>
</li>
<li class="has_sub">
    <a href="{% url "dashboard:managers" %}" class="waves-effect active"><i class="ti-user"></i> <span> Managers </span> </a>
</li>
<li class="has_sub">
    <a href="{% url "dashboard:employees" %}" class="waves-effect"><i class="md md-account-child"></i> <span> Employees </span> </a>
</li>
<li class="has_sub">
    <a href="#" class="waves-effect"><i class="ti-menu-alt"></i> <span> Products </span> </a>
</li>
{% endif %}
{% endblock left_navigation %}
{% block page_content %}
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Managers</h4><br>
                </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <div class="card-box">
                  <div class="table-responsive">
                            <table class="table table-actions-bar">
                                <thead>
                                  <tr>
                                      <th>Managers</th>
                                      <th></th>
                                  </tr>
                                </thead>

                                <tbody>
                                  {% for item in managers %}
                                  <tr>
                                      <td>{{item}}</td>
                                      <td>
                                        <a href="#demo" class="btn btn-info btn-custom" data-toggle="collapse">Stores</a>
                                          <div id="demo" class="collapse">
                                            <ul class="list-group">
                                            {% for i in item.user_set.all %}
                                            <li class="list-group-item">{{ i.email }}</li>
                                            {% endfor %}
                                            </ul>
                                          </div>

                                      </td>
                                  </tr>
                                  {%endfor%}
                                </tbody>
                            </table>
                        </div>
                </div>

                </div> <!-- end col -->


            </div>





        </div> <!-- container -->

    </div> <!-- content -->

{% endblock page_content %}
