<!DOCTYPE html>
{% extends "inayo/dashboard/base.html" %}
{% load i18n %}
{% load gross from prices_i18n %}
<!--  load slice from shop %} -->
{% load staticfiles %}

{% block title %}Inayo | Dashboard{% endblock %}

{% block breadcrumb %}
  <!-- <li>
    <a href="#">Home</a>
  </li>
  <li>
    <span> Dashboard</span>
  </li> -->
{% endblock breadcrumb %}
{% block left_navigation %}
{% if request.user.is_superuser %}
  <li class="has_sub">
      <a href="{% url "dashboard:index" %}" class="waves-effect"><i class="ti-home"></i> <span> Dashboard </span> </a>
  </li>
  <li class="has_sub">
      <a href="{% url "dashboard:orders" %}" class="waves-effect active"><i class="ti-shopping-cart"></i> <span> Orders </span> </a>
  </li>
  <li class="has_sub">
      <a href="{% url "dashboard:managers" %}" class="waves-effect"><i class="ti-user"></i> <span> Managers </span> </a>
  </li>
  <li class="has_sub">
      <a href="{% url "dashboard:stores" %}" class="waves-effect"><i class="md md-account-child"></i> <span> Stores </span> </a>
  </li>
  <li class="has_sub">
      <a href="#" class="waves-effect"><i class="ti-menu-alt"></i> <span> Products </span> </a>
  </li>
{% else %}
<li class="has_sub">
    <a href="{% url "dashboard:index" %}" class="waves-effect"><i class="ti-home"></i> <span> Dashboard </span> </a>
</li>
<li class="has_sub">
    <a href="{% url "dashboard:orders" %}" class="waves-effect active"><i class="ti-shopping-cart"></i> <span> Orders </span> </a>
</li>
<li class="has_sub">
    <a href="{% url "dashboard:managers" %}" class="waves-effect"><i class="ti-user"></i> <span> Managers </span> </a>
</li>
<li class="has_sub">
    <a href="{% url "dashboard:employees" %}" class="waves-effect"><i class="md md-account-child"></i> <span> Employees </span> </a>
</li>
<li class="has_sub">
    <a href="#" class="waves-effect"><i class="ti-menu-alt"></i> <span> Products </span> </a>
</li>
{% endif %}
{% endblock left_navigation %}
{% block page_content %}
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">Employees</h4><br>
                </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <div class="card-box">
                  <div class="table-responsive">
                            <table class="table table-actions-bar">
                              <thead>
                                  <tr>
                                    <tr>
                                        <th class="col-sm-2">
                                            {% trans "Order #" %}
                                        </th>
                                        <th class="col-sm-2">
                                            {% trans "Store" %}
                                        </th>
                                        <th class="col-sm-2">
                                            {% trans "Date" %}
                                        </th>
                                        <th class="col-sm-2">
                                            {% trans "Price" %}
                                        </th>
                                        <th class="col-sm-2">
                                            {% trans "Status" %}
                                        </th>
                                        <th class="col-sm-2">
                                            {% trans "Last status change" %}
                                        </th>
                                    </tr>
                                  </tr>
                              </thead>

                              <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <td class="col-sm-2">
                                            <a href="{{ order.get_absolute_url }}">{{ order }}</a>
                                        </td>
                                        <td class="col-sm-2">
                                            {{ order.user }}
                                        </td>
                                        <td class="col-sm-2">
                                            {{ order.created }}
                                        </td>
                                        <td class="col-sm-2">
                                            {% gross order.get_total %}
                                        </td>
                                        <td class="col-sm-2">
                                            <span class="label label-default">{{ order.get_status_display }}</span>
                                        </td>
                                        <td class="col-sm-2">
                                            {{ order.last_status_change }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                </div>

                </div> <!-- end col -->


            </div>





        </div> <!-- container -->

    </div> <!-- content -->
    <script>
        var resizefunc = [];
    </script>
{% endblock page_content %}
