<!DOCTYPE html>
{% extends "inayo/dashboard/base.html" %}
{% load i18n %}
{% load gross from prices_i18n %}
{% load render_bundle from webpack_loader %}
{% load bootstrap_form from bootstrap3 %}

<!--  load slice from shop %} -->
{% load staticfiles %}

{% block title %}Inayo | Dashboard {% endblock %}

{% block breadcrumb %}
  <!-- <li>
    <a href="#">Home</a>
  </li>
  <li>
    <span> Dashboard</span>
  </li> -->
{% endblock breadcrumb %}
{% block left_navigation %}
{% if request.user.is_superuser %}
  <li class="has_sub">
      <a href="{% url "dashboard:index" %}" class="waves-effect active"><i class="ti-home"></i> <span> Dashboard </span> </a>
  </li>
  <li class="has_sub">
      <a href="{% url "dashboard:orders" %}" class="waves-effect"><i class="ti-shopping-cart"></i> <span> Orders </span> </a>
  </li>
  <li class="has_sub">
      <a href="{% url "dashboard:managers" %}" class="waves-effect"><i class="ti-user"></i> <span> Managers </span> </a>
  </li>
  <li class="has_sub">
      <a href="{% url "dashboard:stores" %}" class="waves-effect active"><i class="md md-account-child"></i> <span> Stores </span> </a>
  </li>
  <li class="has_sub">
      <a href="#" class="waves-effect"><i class="ti-menu-alt"></i> <span> Products </span> </a>
  </li>
{% else %}
<li class="has_sub">
    <a href="{% url "dashboard:index" %}" class="waves-effect active"><i class="ti-home"></i> <span> Dashboard </span> </a>
</li>
<li class="has_sub">
    <a href="{% url "dashboard:orders" %}" class="waves-effect"><i class="ti-shopping-cart"></i> <span> Orders </span> </a>
</li>
<li class="has_sub">
    <a href="{% url "dashboard:managers" %}" class="waves-effect"><i class="ti-user"></i> <span> Managers </span> </a>
</li>
<li class="has_sub">
    <a href="{% url "dashboard:employees" %}" class="waves-effect"><i class="md md-account-child"></i> <span> Employees </span> </a>
</li>
<li class="has_sub">
    <a href="#" class="waves-effect"><i class="ti-menu-alt"></i> <span> Products </span> </a>
</li>
{% endif %}
{% endblock left_navigation %}
{% block page_content %}
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-10">
                    <h4 class="page-title">Stores</h4><br>
                </div>
                <div class="col-sm-2">
                  <a data-toggle="modal" data-target="#custom-modal" class="btn btn-default btn-md waves-effect waves-light m-b-30" data-animation="fadein"
                                           data-overlaySpeed="200" data-overlayColor="#36404a"><i class="md md-add"></i> Add Store</a>
                </div>
                <!-- Modal -->
                <div id="custom-modal" class="modal fade">
                  <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">User Guid</h4>
                      </div>
                      <div class="modal-body">
                        <form role="form">
                          {% bootstrap_form form %}
                          <!-- <div class="form-group">
                                      <label for="name">Name</label>
                                      <input type="text" class="form-control" id="name" placeholder="Enter name">
                                  </div>

                                  <div class="form-group">
                                      <label for="exampleInputEmail1">Email address</label>
                                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                  </div>

                                  <div class="form-group">
                                      <label for="position">Contact number</label>
                                      <input type="text" class="form-control" id="position" placeholder="Enter number">
                                  </div>-->


                                  <button type="submit" class="btn btn-default waves-effect waves-light">Save</button>
                                  <button type="button" class="btn btn-danger waves-effect waves-light m-l-10" data-dismiss="modal">Cancel</button>
                              </form>                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <div class="card-box">
                  <div class="table-responsive">
                            <table class="table table-actions-bar">
                                <thead>
                                  <tr>
                                      <th>Store</th>
                                      <th>Manager</th>
                                      <th>Designation</th>
                                  </tr>
                                </thead>

                                <tbody>
                                  {% for item in stores %}
                                  <tr>
                                      <td>{{ item }}</td>
                                      <td>
                                        {% if item.managed_by %}
                                          {{ item.managed_by }}
                                        {% endif %}
                                      </td>
                                      <td>
                                        {% if item.is_superuser %}
                                          Admin
                                        {% elif item.is_store_manager %}
                                          Store Manager
                                        {% elif item.is_manager  %}
                                          Manager
                                        {% else %}
                                          Store
                                        {% endif %}
                                      </td>
                                  </tr>
                                  {%endfor%}
                                </tbody>
                            </table>
                        </div>
                </div>

                </div> <!-- end col -->

            </div>

        </div> <!-- container -->

    </div> <!-- content -->
    <script>
        var resizefunc = [];
    </script>

{% endblock page_content %}

{% block footer_scripts %}
<!-- Modal-Effect -->
<script src="{{STATIC_URL}}assets0/plugins/custombox/js/custombox.min.js"></script>
<script src="{{STATIC_URL}}assets0/plugins/custombox/js/legacy.min.js"></script>

{% render_bundle 'vendor' 'js' %}
{% render_bundle 'storefront' 'js' %}
{% endblock footer_scripts %}
